.TABLEcontainer{
   display : grid;
   grid-auto-rows: 2em;
   grid-template-columns: 1fr 1fr;
}

.TABLEheader{
   grid-column-start: 1;
   grid-column-end: 3;
}

.TABLErow{
   grid-column-start: 1;
   grid-column-end: 3;
}

.TABLEcontainer * {
   text-align: center;
}

 /* put red debug lines in */
 * {outline: 1px red solid; }