.SETmainContentLayout {
	display: grid;
	grid-template-columns: 280px 1fr;
	grid-template-rows: 1fr;
}

.CORmainContents {
	background-color: var(--grey-200);
}

.SETcontentAsideLayout {
	position: relative;
	grid-column: 1;
	padding: 32px;
	padding-top: 24px;
	grid-row: 1 / span 2;
}

.SETcontentBodyLayout {
	grid-column: 2;
	grid-row: 1 / span 2;
	padding: 24px;
}

.SETsettingsNavLayout * {
	padding: 0;
	margin: 0;
}

.SETsettingsNavPageLayout {
	position: relative;
	display: flex;
	align-items: center;
	padding: 4px 0px;
	margin-bottom: 16px;
}

.SETsettingsPaneLayout {
	padding: 32px;
	padding-bottom: 52px;
}

.SETcontentBodyLayout table {
	width: 100%;
}

.SETcontentBodyLayout th {
	padding: 8px 16px;
}

.SETcontentBodyLayout td {
	padding: 8px 16px;
}

.SETtrashIcon {
	width: 16px;
	height: 16px;
	margin-top: -4px;
	margin-bottom: -4px;
	fill: currentColor;
}

.SETuserNameEdit {
	width: 20%;
}

.table-footer {
	display: flex;
}

.SETwarningIcon::before {
   content: '• ';
	color: red;
	font-size: 18px;
	font-weight: var(--bold);
}
 
.SETwarningHelpMessage {
	margin-top: 20px;
	color: var(--grey-600);
}

.SETcardRedirect {
	display: inline;
	cursor:pointer;
	color: var(--blue-dark);
	text-decoration:underline;
}