.HASHTAGtagStyle {
   display: inline-block;
   border-radius: 6px;
   padding-left: 6px;
   padding-right: 6px;
   letter-spacing: 0.03em;
   font-weight: 400;
   opacity: 0.8;
}
.HASHTAGbold{
   font-weight: 900;
}