.PRJsourcesReceiversTarget{
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 0.6;
   width: 40px;
	/* border: 1px solid var(--grey-300);   */
}
.PRJsourcesReceiversTarget img{
    width: 12px;
}
.PRJcomponentLink{
   content : url("../PRJ/PRJcomponentLink.svg");
   display :inline;
	opacity: 0.6;
	width: 40px;
	/* border: 1px solid var(--grey-300); */
 }
 .PRJbranchRowDiv{
   display: inline-flex;
   align-items: center;
   width: 100%;
 }
 .PRJbranchStatus{
   flex-grow: 1;
   overflow: hidden;
   text-overflow: ellipsis;
 }
.PRJconflictExistsFolder,
.PRJconflictExists{
  position: relative; /* Ensure the pseudo-element is positioned relative to this element */
}
.PRJconflictExistsFolder::after,
.PRJconflictExists::after {
  content: '';
  /* position: absolute;  */
  top: 10.5px; /* Position vertically at the center of the parent */
  transform: translateY(-50%); /* Adjust for vertical centering */
  left: -1px; /* Position the pseudo-element to the left of the text */
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--red);
  margin-left: 6px; 
  margin-top: 5px; 
}
.PRJconflictExistsFolder::after{
  opacity: 50%;
}
.PRJheaderTitle{
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  padding: 0 12px;
  padding-left: 24px;
  padding-right: 16px;
  user-select: none;
  background-color: #ebf3f6;
  border-bottom: 1px solid var(--grey-300);
  box-sizing: border-box;
}
.PRJheaderTitleText{
  font-family: var(--font-buttons);
  color: var(--blue-dark);
  font-size: 16px;
  font-weight: 500;
}
.PRJcloud{
  padding-left: 6px;
}
.PRJlibLinkIcon{
  content: url(../PRJ/PRJcomponentLink.svg);
  padding: 4px;
  height: 14px;
  width: 20px;
  opacity: 0.8;
}
.PRJlibLink:hover .PRJlibLinkIcon{
  content: url(../PRJ/PRJcomponentLinkHover.svg);
  opacity: 1;
}
.PRJlibLink{
  margin-right: 8px;
  background: rgba(var(---blue-lighter), 0.075);
  color: rgba(var(---blue), 0.75);
}
.PRJchanges .PRJitemName::after{
  content: "";
  display: inline-block;
  width: 0.5em;                  /* Circle width */
  height: 0.5em;                 /* Circle height */
  margin-left: 6px;            /* Spacing to the text */
  z-index: 1;
  background-color: var(--yellow-lighter);  /* Light yellow fill */
  border: 1px solid var(--yellow-dark);  /* Slightly darker border */
  opacity: 0.3;
  border-radius: 50%;             /* Makes it a circle */
  vertical-align: middle;         /* Align vertically with text if needed */
}
.PRJmodulesWarning{
	content: url("/PRJ/PRJlibraryWarning.svg");
}