*.build.list
*.test.list
*.out
*.out.actual
*.err.actual
*.save.xml
*.pyc
*.dmg
*.tmp
*.idb
*.drc
*/NUL
*.exp
*.oo
*.txt
*.log
*.lib
*.exe
*.ilk
*.map
*.pdb
*.o
*.obj
*.d
*.a
*.dylib
*.so
*.dll
*.orig
*.swp
*.gz
*.tgz
*.pid
*.collog
*/.hg
*.noc
*/make.lock
*/*/make.lock
manual/*.html
Iguana/app/bin/iguana
Iguana/app/iguana
WEBexample/WEBexample
Designer/designer
monitor/monitor
monitor/app/bin
monitor/app/lib
monitor/app/share
monitor/app/web/css/fleet-manager.css
.hg
MONVER/MONversion.cpp
postgres/macPostgres
postgres/linuxPostgres
postgres/winPostgres
IguanaLicense/IguanaLicense
cyrus-sasl/cyrus-sasl-2.*/
cyrus-sasl/include
cyrus-sasl/log*-build.txt
git_src/git*
git_src/log.git-build.txt
git_src/src/v2.0.0/git*
git_src/src/v2.0.0/test*
git_src/src/v2.0.0/Documentation/.gitignore
git_src/src/v2.0.0/perl/.gitignore
git_src/src/v2.0.0/po/.gitignore
git_src/src/v2.0.0/t/.gitignore
git_src/src/v2.0.0/templates/.gitignore
git_src/src/v2.0.0/Documentation/technical/.gitignore
git_src/src/v2.0.0/bin-wrappers/
git_src/src/v2.0.0/built.timestamp
git_src/src/v2.0.0/common-cmds.h
git_src/src/v2.0.0/config.status
git_src/src/v2.0.0/contrib/credential/gnome-keyring/.gitignore
git_src/src/v2.0.0/contrib/credential/osxkeychain/.gitignore
git_src/src/v2.0.0/contrib/emacs/.gitignore
git_src/src/v2.0.0/contrib/mw-to-git/.gitignore
git_src/src/v2.0.0/contrib/mw-to-git/t/.gitignore
git_src/src/v2.0.0/contrib/mw-to-git/t/install-wiki/.gitignore
git_src/src/v2.0.0/contrib/subtree/.gitignore
git_src/src/v2.0.0/contrib/svn-fe/.gitignore
git_src/src/v2.0.0/t/perf/.gitignore
git_src/src/v2.0.0/t/t4135/.gitignore
git_src/src/v2.0.0/t/t9151/.gitignore
git_src/src/v2.0.0/t/t9601/cvsroot/CVSROOT/
git_src/src/v2.0.0/t/t9602/cvsroot/CVSROOT/
git_src/src/v2.0.0/t/t9603/cvsroot/CVSROOT/
git_src/src/v2.0.0/t/t9604/cvsroot/CVSROOT/
git_src/src/v2.0.0/t/valgrind/.gitignore
git_src/src/v2.0.0/autom4te.cache/output.0
git_src/src/v2.0.0/autom4te.cache/requests
git_src/src/v2.0.0/autom4te.cache/traces.0
git_src/src/v2.0.0/config.log
git_src/src/v2.0.0/config.mak.autogen
git_src/src/v2.0.0/configure
libiconv/dist/
*/lua.exports_list
sqlite/sqlite3
sqlite/include
SQLTE/include/
SQLTE/sqlite3
openssl_build/
openssl_pc/
openssl_src/include/
openssl_src/log.openssl-build.txt
openssl_src/openssl-1.0.2p/
DBD/web_docs/templates/browser_js_files.cs
DBD/web_docs/templates/license_js_files.cs
DBD/web_docs/templates/settings_js_files.cs
DBD/web_docs/templates/translator_js_files.cs
JSZ/browser_js_files.cs
JSZ/jsz_template_debug_ok
JSZ/license_js_files.cs
JSZ/settings_js_files.cs
JSZ/translator_js_files.cs
DBD/extensions/packaged/
DBD/fossil
DBD/git-utilities/
DBD/iguana
Iguana/iguana.tar.gz
Iguana/iguana_unstripped.gz
Iguana/log.package.txt
Iguana/qa_iguana.tar.gz
JSZ/3rdparty.js
JSZ/dist/
ext_DICOM/dcmtk/
ext_DICOM/dicom_raw.exports
ext_DICOM/log.ext_DICOM-build.txt
fossil/fossil
git_src/src/v2.0.0/GIT-BUILD-OPTIONS
git_src/src/v2.0.0/GIT-CFLAGS
git_src/src/v2.0.0/GIT-LDFLAGS
git_src/src/v2.0.0/GIT-PERL-DEFINES
git_src/src/v2.0.0/GIT-PREFIX
git_src/src/v2.0.0/GIT-PYTHON-VARS
git_src/src/v2.0.0/GIT-SCRIPT-DEFINES
git_src/src/v2.0.0/GIT-USER-AGENT
git_src/src/v2.0.0/GIT-VERSION-FILE
hl7simulator/hl7simulator
ifware_service/ifware_service
iguana_log_verify/iguana_log_verify
vmd_tool/vmd_tool
Iguana/IguanaResource.res
SDM/MSG00001.bin
admin/build-tools/win/delphi/bin/dcc32.cfg
admin/build-tools/win/res-hack/ResHacker.ini
conspawn/Release/
openssl_pc/pc_vc9_32/inc32/openssl/*.h
openssl_pc/pc_vc9_64/inc32/openssl/*.h
ANNexample/ANNexample
BIDexample/BIDexample
CHLexample/CHLexample
CMDexample/CMDexample
COLexample/COLexample
CPPexample/CPPexample
CPUIDexample/CPUIDexample
CSexample/CSexample
CSexample/dummy.cs
CURLexample/CURLexample
CURLexample/ca-bundle/
DB2example/DB2example
DBCT/output/
DBCT/output2/
DBCT/output3/
DBCexample/DBCexample
DBCexample/output/
DBD/IguanaConfigurationRepo/
DBD/IguanaLicense
DBD/IguanaMainRepo/
DBD/IguanaTranslatorAlerts.cvar
DBD/ImportExport/
DBD/data/
DBD/edit/
DBD/iguana.slt
DBD/logs/
DBD/run/
DBDRPCexample/DBDRPCexample
DBDT/ignored/
DBDT/ignoredf2f_doall/
DBDT/ignoredf2f_ignored/
DBDT/ignoredf2f_noext/
DBDT/ignoredf2f_period/
DBDT/ignoredf2f_processed/
DBDT/ignoredf2f_sepii_tricky_mask_2/
DBDT/ignoredtestFileConsumer/
DBDexample/DBDexample
DBDexample/ToFile/
DBDexample/fossil
DBDexample/git-utilities/
DBDexample/iguana.slt
DBEexample/DBEexample
*.locker
DBLT/scratch_dir/
DLLexample/DLLexample
DOMexample/DOMexample
DOMexample/output.xml
DRGexample/DRGexample
DSET/output/
DSET/output2/
EVLexample/EVLexample
EVNexample/EVNexample
FILexample/FILexample
*.h.copy
*.cpp.copy
FILexample/blah.bin
FILexample/out_DirEnumerator_MaskNoMatch/
FILexample/out_DirEnumerator_MaskSomeMatch/
FILexample/out_DirEnumerator_Zoo/
FILexample/stream2.txt.old
FMTexample/FMTexample
GZIPexample/GZIPexample
HFILexample/HFILexample
HTTPexample/HTTPexample
IGC_java/IGC_java_classes.jar
IGC_java/classes/
IGC_java_dll/igc_java.exports_list
INIexample/INIexample
IPAexample/IPAexample
IPAexample/igramfromc.igram
IPexample/IPexample
JBBexample/JBBexample
LANexample/LANexample
LEGexample/LEGexample
LLPexample/LLPexample
LOCexample/LOCexample
LUAexample/LUAexample
MIMEexample/MIMEexample
MIMEexample/email.attachment.result
MIMEexample/email.attachment.result.compare
MIMEexample/email_mime_test.pop
MIMEexample/email_mime_test.pop.compare
MIMEexample/email_pdf.mail.result
MIMEexample/email_pdf.mail.result.compare
MIMEexample/mail/succeeded/
MIMEexample/request_example_mime_test.txt.compare
MLGexample/MLGexample
MTexample/MTexample
MZIPexample/MZIPexample
MZIPexample/blah.zip
MZIPexample/blah_testVarZipAndUnzip1.zip
MZIPexample/blah_testZipFilesToMemory.zip
MZIPexample/example_testVarZipAndUnzip2.zip
"MZIPexample/\346\261\211\345\255\227.zip"
NFCexample/NFCexample
NODLexample/NODLexample
NODLexample/iguana.slt
NODLexample/store.db
NODexample/NODexample
NTBexample/NTBexample
OSSLexample/OSSLexample
PERexample/PERexample
PERexample/config_save_test_round_trip.json
PERexample/tag_config_save_test.json
REXexample/REXexample
RGNexample/RGNexample
RSSexample/RSSexample
SCKexample/SCKexample
SCMexample/RemoteRepo2/
SCMexample/SCMexample
SCMexample/git-utilities/
SFIexample/SFIexample
SGCexample/SGCexample
SGMexample/SGMexample
SGPexample/SGPexample
SGXexample/SGXexample
SIGexample/SIGexample
SMTPBexample/SMTPBexample
SQLexample/SQLexample
SQLexample/busy_test.db
SQLexample/contention_test.db
SQLexample/data/
SQLexample/ecrypted.db
SQLexample/prepare_test.db
SQLexample/reopen_test.db
SQLexample/test.db
"SQLexample/\345\255\227\345\255\227\345\255\227prepare_test.db"
TEM4example/TEM4example
TEM4example/web_docs/testTslRenderer.tsl
TICexample/TICexample
TIMEexample/TIMEexample
TPRJexample/TPRJexample
TREexample/TREexample
TSMexample/TSMexample
TSTexample/TSTexample
TXMexample/TXMexample
TXTexample/TXTexample
XMLexample/XMLexample
TCPexample/TCPexample
active_llp_producer_plugin/active_llp_producer_plugin
chameleon_machine_id/chameleon_machine_id
ext_ifware_license/ifware_license.exports
java/classes.jar
java/classes/
libChameleon/Chameleon.exports
libChameleon/Chameleon.exports_list
libChameleon/Chameleon_posix.exports_list
lua514/lua.exports
makelist.mac_x64.cache
manual/.htaccess
msgtransform/msgtransform
msgxml/msgxml
pack/pack
IGC_java_dll/igc_java.exports
IGC_java_dll/libigc_java.jnilib
CHM_java_dll/libchm_java.jnilib
ChameleonPackage/chameleon.tar.gz
ChameleonPackage/chameleon/
ChameleonPackage/libChameleon.dynamic.tar.gz
CHMjavaExample/*.class
DBQexample/DBQchannelPositionsMetaXml.xml
DBQexample/channel_positions.idx
DBQexample/queue_meta_test.xml
DBQexample/testCloseWrite.dat
DBQexample/testFile.dat
DBQexample/testThreading.idx
SCKSexample/SCKSexample
SCKSexample/cow/
NUL
_NUL
.DS_Store
.vscode/
DBD/IguanaConfiguration.xml.corrupt
DBD/logs.autounlocker
DBD/test1/
DBD/test2/
DBD/test8/
DBQexample/DBQexample
IguanaController/build/
MLGexample/data/testMLGhl7Reader/identification.hl7.HL7CRLF
MLGexample/data/testMLGhl7Reader/identification.hl7.UTF8.HL7CRLF
NODLexample/res
*/.DS_Store
Iguana/IguanaConfigurationRepo/
Iguana/iguana
Iguana/iguana.exe
Iguana/app/bin/
Iguana/iguana_tmp
Iguana/IguanaX
Iguana/iguana_linux_x64.tar.gz
DMG/iguanax.dmg
DMG/tmp/
build_tool/build_tool
CJSexample/CJSexample
DBTexample/DBTexample
DCTexample/DCTexample
LICexample/LICexample
BT2example/BT2example
PARexample/PARexample
PIPexample/PIPexample
SDMexample/SDMexample
SLKexample/SLKexample
MIMEexample/mail
APIexample/APIexample
CJSexample/CJSexample
*example/*example
*shlock*
*/ca-bundle
dmg_installer/iguanax.dmg
dmg_installer/tmp/
IWEBexample/web.config
DBDVER/DBDVERgitInfo.cpp
postgres/postgres/
postgres/postgresql-12.2.tar.gz
USRexample/user.config
SQLexample/字字字prepare_test.db
GZIPexample/testGzip.cpp.gz
CIMPexample/Translators/
builder/builder
build_tool2/build_tool2
build_webserver/build_webserver
*/test
ZBUILDresults
unit_tester/unit_tester
cppgen/cppgen
Iguana/tarball
git_info/git_info
gitreport
OpenSSL/install
libssh2/install
libcurl/install
IguanaPackage/iguana
TUNserver/tunnel_server
TUNclient/tunnel_client
webpacker/webpacker
CURLexample/cacert.pem
*~
IguanaMacApplet/IguanaApplet
webpacker/iguana
*IguanaX
Iguana/Iguana.h
Iguana/Iguana.rc
*.res
*.bin
release_tool/release_tool
