.EDCloadingMessage{
   margin-top: 80px;
   text-align: center;
	color: var(--grey-600);
	height: 100%;
}
.EDCbuttons{
	position: sticky;
	bottom : 0px;
   display: grid;
	grid-template-columns: auto auto;
	justify-content: end;
	margin-top: 12px;
	margin-right: 0;
	margin-left: auto;
}
.EDCcontainer {
	background: var(--grey-200);
	padding: 12px 18px;
	border: 1px solid var(--grey-400);
	border-radius: var(--border-radius);
	margin-bottom: 12px;
}
.EDCcontainer:hover{
	background-color: #F8FCFE;
	border: 1px solid var(--blue);
	box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}
.EDCheader{
   font-family: var(--font-buttons);
	color: var(--grey-500);
	font-weight: 500;
	font-size: 11px;
	letter-spacing: 0.05em;
   margin-bottom: 4px;
}
.EDClistHeader{
   margin-top: 12px;
}
.EDCcolumnGrid{
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 24px;
}
.EDCnameDiv{
	display: grid;
	column-gap: 12px;
	grid-template-columns: 1fr 50px;
}
.EDCwindow{
	height: 100%;
	overflow: hidden;
}
.EDCwindow *{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
 }
.EDCeditBanner{
	display: flex;
	align-items: center;
	position: sticky;
	top: 0px;
	height: 42px;
	z-index: 10;
	background: var(--white);
	margin-bottom: 16px;
}
.EDCnameEdit{
	width: 400px !important;
	min-width: 50px;
	flex-shrink: 1;
	margin-right: 12px;
	color: var(--blue-dark);
	font-weight: 400;
	font-size: 16px;
	white-space: nowrap;
}
.EDCdescriptionEdit{
	min-width: 70px;
	flex-grow: 1;
	color: var(--grey);
	font-weight: 400;
	font-size: 12px;
	margin-right: 12px;
}
.EDCsaveEditGroup{
	flex-shrink: 0;
	float: right;
}
.EDCwindowInner{
	height: calc(100% - 58px);
	overflow: hidden;
}
.EDCeditChildrenDiv{
	overflow: auto;
	max-height: calc(100% - 26px);
}
.EDCchildRow {
	display: grid;
	grid-template-columns: 110px 200px 2fr 2.5fr 1.2fr 32px;
}
.EDCchildHeaders div{
	padding: 6px 8px;
	font-size: 9px;
	font-family: var(--font-buttons);
	color: var(--grey-600);
	letter-spacing: 0.05em;
	line-height: 1.25em;
}
.EDCchildHeaders{
	position: sticky;
	top : 0px;
	border: 1px solid var(--grey-400);
	background: var(--grey-200);
	align-items: center;
	min-height: 28px;
	box-sizing: border-box;
}
.EDCchildrenDiv .EDCmatchingHeader{
	padding: 2px 4px;
	font-size: 9px;
	font-family: var(--font-buttons);
	color: var(--grey-600);
	letter-spacing: 0.05em;
	background: var(--grey-200);
	border-top: 1px solid var(--grey-400);
	border-bottom: 1px solid var(--grey-400);
	border-right: 1px solid var(--grey-400);
}
.EDCaddEditRow{
	display: grid;
	grid-template-columns: 32px 1.0fr;
	border: 1px solid var(--grey-400);
	background: var(--grey-100);
	align-items: center;
	height: 24px;
	position: sticky;
	bottom : 0px;
}
.EDCeditCell {
	text-align: left;
	border-left: 0px;
	border-right: 0px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.EDCeditCell .FORMinput,
.EDCeditCell .FORMselectBox {
	height: 32px;
	border-radius: 0px;
	border-left: 0px;
	border-right: 1px solid rgba(var(---grey-300), 0.65);
	border-bottom: 0px;
}
.EDCeditCell .FORMinput:focus,
.EDCeditCell .FORMselectBox:focus {
	outline: none;
	border: 2px solid var(--blue);
}
.EDCchildRow.EDCadded {
	outline: none;
	border: 2px solid var(--blue-light);
}
/* "Delete row" column */
.EDCeditCell:first-child {
	border-left: 1px solid var(--grey-400);
	border-bottom: 0px;
	background: var(--grey-100);
}
.EDCeditCell:last-child {
	border: 1px solid var(--grey-400);
	border-bottom: 0px;
	border-left: none;
	background: var(--grey-100);
}
.EDCwindowContent .POPpopoutCard-content{
	overflow-y: hidden;
	height: calc(100% - 61px);
	box-sizing: border-box;
}
.EDCmodal{
	height: 100%;
}
.EDCmoveRow {
	border: 1px solid var(--grey-400);
	border-bottom: 0px;
	border-right: 1px solid rgba(var(--grey-300), 0.65);
	background-color: var(--grey-100);
	color: var(--grey-600);
}
.EDCwindowError {
	color: red;
	margin-bottom: 18px;
}
.EDCbranchNA { 
	cursor: not-allowed; 
}
.EDCbranchNA::placeholder { 
	color: #9aa0a6; 
	opacity: 1; 
}
.EDCbranchNA:disabled {
	background: transparent;
 }