.TOGswitchDiv{
   display: grid;
   grid-template-columns: auto 1fr;
   column-gap: 12px;
   margin-left: 8px;
}
.TOGgrey .TOGstatus{
   background-color: var(--grey-200);
}
.TOGgreen .TOGstatus{
   background-color: var(--green);
}
.TOGyellow .TOGstatus{
   background-color: var(--yellow);
}
.TOGred .TOGstatus{
   background-color: var(--red);
}
.TOGstatus{
   margin-top: 2px;
   height: 14px;
   width: 14px;
}
.TOGstatus{
	border-radius: 10px;
   border: 1px solid var(--grey-400);
}
.TOGbutton{
   border: 1px solid var(--grey-300);
   height: 19px;
   width: 58px !important;
}
