.STStable{
   display: grid;
   grid-template-columns: 120px 1fr;
}
.STSvalueColor{
   grid-column-start : 1;
   grid-column-end : 3;
   display: grid;
   margin : 3px;
}

.STSvalue {
   grid-column-start : 2;
   grid-column-end : 2;
   display: grid;
   margin : 3px;
}

.STScolor{
   width: 30px;
   height: 24px;
   margin-left: 12px;
}
.STScolorView{
   width: 18px;
   height: 18px;
   margin-left: 12px;
}

.STSvalueColor.FORMinputGroup,
.STSvalue.FORMinputGroup{
   display: flex;
}

.STStable .FORMlabel {
   margin-top: 10px;
}
.STSsecureInput{
   margin-top: 12px;
}

.STShidden{
   display: none;
}
.STSdescriptionInput{
   margin-bottom: 8px;
}
.STSdescriptionError,
.STSportError,
.STScertificateError,
.STSprivateKeyError{
   color: red;
   font-size: 11px;
   margin-left: 4px;
   margin-bottom: 8px;
}
.STScolorSelectDiv{
   display: flex;
   justify-content: center; /* Centers child horizontally */
   align-items: center; /* Centers child vertically */
   width: 100%; /* Set the width as needed */
   height: 300px; /* Set the height as needed */
}
.STScolorRow{
   display: grid;
   grid-template-columns: auto 24px 1fr;
   width: 160px;
}
.STSresetColor{
	color: var(--blue);
	text-decoration: underline;
	cursor: pointer;
   text-align: right;
   padding-left: 4px;
   padding-right: 4px;
}
.STScolorInfo{
   color: var(--grey-600);
}
.STSdescription a{
   color: var(--blue);
   text-decoration: none;
}
.STSdescription,
.STSuseHttps{
   font-family: inherit;
}