.FLDmodal{
	padding: 4px;
}
.FLDfieldTableRow {
	display: grid;
	grid-template-columns: 32px 0.4fr 0.4fr 0.6fr 0.8fr 32px;
	cursor: default;
}
.FLDaddField {
	cursor: pointer;
	color: var(--blue);
}
.FLDtableCell {
	text-align: left;
	border-left: 0px;
	border-right: 0px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.FLDtableCell .FORMinput,
.FLDtableCell .FORMselectBox {
	height: 32px;
	border-radius: 0px;
	border-left: 0px;
	border-right: 1px solid rgba(var(---grey-300), 0.65);
	border-bottom: 0px;
}
.FLDtableCell .FORMinput:focus,
.FLDtableCell .FORMselectBox:focus {
	outline: none;
	border: 2px solid var(--blue);
}
/* "Delete row" column */
.FLDtableCell:last-child {
	border: 1px solid var(--grey-400);
	border-bottom: 0px;
	border-left: none;
	background: var(--grey-100);
}
.FLDtableLastColumn .FLDtableCell:last-child{
	border: unset;
}
.FLDviewFieldsHeader {
	margin-top: 8px;
	display: grid;
	grid-template-columns: 0.45fr 0.45fr 0.6fr 1fr;
	border: 1px solid var(--grey-400);
	background: var(--grey-200);
}
.FLDviewFieldsHeader div {
	padding: 6px 8px;
	font-size: 9px;
	font-family: var(--font-buttons);
	color: var(--grey-600);
	letter-spacing: 0.05em;
}
.FLDviewFields {
	display: grid;
	grid-template-columns: 0.45fr 0.45fr 0.6fr 1fr;
	min-height: 32px;
}
.FLDviewFields div {
	border: 1px solid var(--grey-400);
	border-left: 0px;
	border-right: 1px solid rgba(var(---grey-300), 0.65);
	border-top: 0px;
	padding: 6px 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	display: flex;
	align-items: center;
}
.FLDviewFields div:first-child {
	border-left: 1px solid var(--grey-400);
}
.FLDviewFields div:last-child {
	border-right: 1px solid var(--grey-400);
}
.FLDeditFieldHeader {
	margin-top: 8px;
	display: grid;
	grid-template-columns: 32px 0.4fr 0.4fr 0.6fr 0.8fr 32px;
	border: 1px solid var(--grey-400);
	border-bottom: 0px;
	background: var(--grey-200);
	align-items: center;
	min-height: 28px;
}
.FLDeditFieldHeader div {
	padding: 6px 8px;
	font-size: 9px;
	font-family: var(--font-buttons);
	color: var(--grey-600);
	letter-spacing: 0.05em;
	line-height: 1.25em;
}
.FLDrowName {
	word-break: break-all;
}
.FLDeditInline {
	display: grid;
	grid-template-columns: 1fr 42px;
}

.FLDinplaceActions {
	display: flex;
	justify-content: flex-end
}

.FLDeditMode .FLDcurrentValue,
.FLDeditMode .FLDeditValueInPlace {
	display: none;
}

.FLDcurrentValue {
	color: var(--grey-600);
	word-break: break-all;
}

.FLDwidget {
	margin-left: 6px;
}

.FLDdeleteRow {
	z-index: 998;
	background: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.FLDaddValue {
	cursor: pointer;
	color: #2590cd;
	display: inline-flex;
	align-items: center;
	margin: 6px;
}
.FLDblankRow{
	color: var(--grey-600);
}
.FLDviewFieldsBlank{
	border-top: 0px !important;
	padding: 4px;
	border: 1px solid var(--grey-400);
}
.FLDmoveRow {
	border: 1px solid var(--grey-400);
	border-bottom: 0px;
	border-right: 1px solid rgba(var(--grey-300), 0.65);
	background-color: var(--grey-100);
	color: var(--grey-600);
	cursor: move;
}


/* Add shadow to row upon "move row" icon hover */
.FLDfieldTableRow .FLDtableCell:first-child:hover ~ .FLDtableCell,
.FLDtableCell:first-child:hover {
	box-shadow: 0 3px 8px rgb(0 0 0 / 25%);
	clip-path: inset(-5px 0px -11px 0px);
}

.FLDtableCell:first-child:hover {
	clip-path: inset(-5px 0px -11px -8px);
}

.FLDfieldTableRow .FLDtableCell:first-child:hover ~ .FLDtableCell:last-child {
	clip-path: inset(-5px -8px -11px 0px);
}


.FLDhtmlBlockRow {
	display: grid;
	grid-template-columns: 0.25fr 0.9fr 80px;
	margin-top: 4px;
	margin-bottom: 4px;
}

.FLDhtmlBlockStyle {
	text-align: left;
	border-left: 0px;
	border-right: 0px;
	padding: 4px;
	margin: 4px;
	display: inline-flex;
	align-items: center;
}

.FLDsaveConfigButton {
	justify-content: right;
	margin-top: 12px;
}

.FLDsaveConfigButton .BUTTONstandard {
	height: 24px;
	padding: 0px 12px;
}

.FLDinformation {
	font-weight: var(--regular);
	font-size: 10px;
	line-height: 16px;
	color: var(--grey-600);
}

.FLDsaveFeedback {
	text-align: right;
	font-weight: var(--regular);
	font-size: 10px;
	line-height: 16px;
	color: var(--grey-600);
	margin: 8px;
	margin-top: 0px;
	color: var(--red);
}

.FLDinplaceFeedbackWrap,
.FLDeditFeedbackWrap {
	display: none;
	margin-top: 16px;
}

.FLDinplaceFeedback,
.FLDeditFeedback {
	display: flex;
	justify-content: flex-end
}

.FLDaddFieldRow {
	display: grid;
	grid-template-columns: 32px 1.0fr;
	border: 1px solid var(--grey-400);
	background: var(--grey-100);
	align-items: center;
	height: 24px;
	margin-bottom: 12px;
}

.FLDaddField {
	grid-column: 2/3;
	padding: 0px 8px;
	font-size: 9px;
	font-family: var(--font-buttons);
	font-weight: 500;
}

.FLDeditActionsWrap {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 16px;
	margin-bottom: -16px;
}

.FLDvalueEditFormat {
	position: relative;
}
.FLDvalueEditFormat .BUTTONstandard {
	position: absolute;
	right: 4px;
	height: 20px;
	border-radius: 2px;
	padding: 0px 8px 0px 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 8px;
	letter-spacing: 0.05em;
	font-weight: 400;
	color: var(--grey-800);
}
.FLDtableLastColumn{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.FLDviewFields .FLDtableLastColumn *{
	width: 100%;
	height: 100%;
	border: unset !important;
	padding: 0 0px;
}
.FLDtableLastColumn .FLDcurrentValue:first-child{
	border-right: 1px solid rgba(var(---grey-300), 0.65) !important;
}
.FLDnoBorder{
	border-right: unset !important;
}
