.STGcomponentIdOnTable a{
   color: var(--blue);
   text-decoration: unset;
}
.STGcomponentIdOnTable a:hover{
   text-decoration: underline;
}

.SETloggingTable {
   display: grid;
	grid-template-columns: 1fr auto 110px auto 80px;
}
.STGclearLink {
   margin-left: 10px;
   display: flex;
}
.STGclearLinkClick {
   color: var(--blue);
   cursor: pointer;
   padding-left: 2px;
   padding-right: 2px;
}
.STGclearLinkClick:hover {
   text-decoration: underline;
}
.STUbox{
   /* border-radius: var(--border-radius);
   border: solid 1px var(--grey-300); */
   /* padding: 24px; */
   /* padding-top: 16px; */
   /* padding-bottom: 16px; */
   margin-bottom: 16px;
   overflow: hidden;
   /* background: var(--grey-100); */
}
.STUmodal .STUbox{
   padding: 24px;
   padding-top: 16px;
   padding-bottom: 20px;
   background: var(--grey-100);
   border-radius: var(--border-radius);
   border: solid 1px var(--grey-300);
}
.STUtitleRow{
   display: grid;
   grid-template-columns: 102px 1fr auto;
   column-gap: 24px;
   margin-bottom: 4px;
   font-size: 11.5px;
   padding-left: 4px;
   padding-right: 4px;
}
.STUtitle{
   font-weight: bold;
   margin-top: 8px;
}
.STUdesc{
   color : var(--grey-500);
   margin-top: 8px;
}
.STUtable{
   display : grid;
	grid-template-columns: 102px 1fr;
   column-gap: 20px;
   row-gap: 12px;
   padding-top: 10px;
   padding-left: 4px;
   padding-bottom: 8px;
}
.STUsubTable{
   display : grid;
	grid-template-columns: 1fr auto;
   padding: 8px;
   padding-left: 12px;
   padding-right: 12px;
   margin-right: 4px;
   border-radius: var(--border-radius);
   border: solid 1px var(--grey-300);
}
.STUtableTitle{
   font-size: 11.5px;
   display: table-cell;
   font-weight: var(--semibold);
   margin-top: 8px;
}
.STUtableVal{
   overflow: hidden;
   text-overflow: ellipsis;
}
.STUfree,
.STUarchiveSize,
.STUaltLogSize,
.STUlogSize{
   color: var(--grey-600);
}
.STUaltDirPath,
.STUarchivePath,
.STUdirPath{
   font-family: var(--font-monospace);
   color: var(--grey-600);
   height: 16px;
}
.STUgrid{
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 16px;
}
.STUsectionTop,
.STUsection{
   border-bottom: solid 1px var(--grey-300);
   padding: 14px;
   padding-top: 12px;
   padding-bottom: 8px;
   margin-left: 4px;
   margin-right: 4px;
   margin-top: 2px;
}
.STUsectionTop{
   background : var(--grey-100);
   border-radius: var(--border-radius);
   border: 1px solid var(--grey-300);
   margin-left: 12px;
   margin-right: 12px;
}
.STUprogress {
   position: relative;
   width: 100%;
   height: 12px;
   background: #e2e8f0;              /* light gray track */
   border-radius: 999px;
   overflow: hidden;
   margin-left: 2px;
   margin-right: 2px;
   margin-bottom: 8px;
}
.STUprogressUsed {
   position: absolute;
   inset: 0;
   width: 0%;                         /* override w/ e.g. style="width:57%" */
   background: #3b82f6;               /* blue */
   border-radius: inherit;
   transition: width .25s ease;
   will-change: width;
}

/* State colors (apply to ancestor or track) */
.STU-progress--warn .STUprogressUsed,
.STU-state-warn .STUprogressUsed { background: #fbbf24; }   /* amber */

.STU-progress--critical .STUprogressUsed,
.STU-state-critical .STUprogressUsed { background: #ef4444; } /* red */

.STUfreeBar{
   display: grid;
   grid-template-columns: 1fr auto;
   padding: 6px;
   padding-right: 8px;
   padding-bottom: 6px;
   padding-top: 0px;
}
.STUstatusGrid{
   display: inline-flex;
   align-items: center;
   gap: 4px;
   margin-left: auto;
   font-size: 0.85rem;
   color:  var(--grey-600);
}
.STUstatusGrid::before{
   content: "";
   width: 12px;
   height: 12px;
   border-radius: 50%;
   background: #22c55e;
}
.STUiconWARN::before     { background: #fbbf24; }
.STUiconCRITICAL::before { background: #ef4444; }

.STUbarCritical{
   background : #ef4444
}
.STUbarWarn{
   background : #fbbf24
}
.STUsectionBottom{
   border-bottom: unset;
   margin-bottom: -2px;
}
.STUarchivePathDialog{
   font-family: ui-monospace, monospace;
   color: #5f6b7c;
   word-break: break-all;
}
.STUrow{
   display: grid;
   grid-template-columns: auto 1fr;
   column-gap: 12px;
}
.STUbuttons{
   display: flex;
   justify-content: end;
}
.SETuserData{
   max-width: 500px;
   overflow: hidden;
   text-overflow: ellipsis;
}
.STUnotSet{
   font-style: italic;
	font-family: var(--font-sans) !important;
   letter-spacing: 0.25px;
}

.USERtable .SETuserData{
   max-width: unset;
}