/* Lua node types - the numbers in these classes' names have to match those in the Lua headers */
.nt_0_0 { background-image: url(/TREE/images/data_type_null.gif); }
.nt_0_1 { background-image: url(/TREE/images/data_type_boolean.gif); }
.nt_0_2 { background-image: url(/TREE/images/lua_userdata.gif); }
.nt_0_3 { background-image: url(/TREE/images/data_type_integer.gif); }
.nt_0_4 { background-image: url(/TREE/images/data_type_string.gif); }
.nt_0_5 { background-image: url(/TREE/images/json_object.gif); }
.nt_0_6 { background-image: url(/TREE/images/lua_function.gif); }
.nt_0_7 { background-image: url(/TREE/images/lua_userdata.gif); }
.nt_0_8 { background-image: url(/TREE/images/lua_userdata.gif); }
/* Addition Lua nodes - should match numbers in NODLutils.h */
.nt_0_100 { background-image: url(/TREE/images/data_type_null.gif); }
.nt_0_101 { background-image: url(/TREE/images/lua_blank.gif); }
.nt_0_102 { background-image: url(/TREE/images/error.gif); }
.nt_0_103 { background-image: url(/TREE/images/warning.gif); }

/* HL7 node types - the numbers in these classes' names match the types in NOHconstant.h */
.nt_101_0 { background-image: url(/TREE/images/EDIiconMessage.svg); }
.nt_101_1 { background-image: url(/TREE/images/EDIiconFolderRepeating.svg); }
.nt_101_2 { background-image: url(/TREE/images/EDIiconFolder.svg); }	
.nt_101_3 { background-image: url(/TREE/images/EDIiconSegmentRepeating.svg); }
.nt_101_4 { background-image: url(/TREE/images/EDIiconSegment.svg); }
.nt_101_5 { background-image: url(/TREE/images/EDIiconCompositeRepeating.svg); }
.nt_101_6 { background-image: url(/TREE/images/EDIiconComposite.svg); }
.nt_101_7 { background-image: url(/TREE/images/EDIiconComposite.svg); }
.nt_101_8 { background-image: url(/TREE/images/EDIiconComposite.svg); }

/* DB node types - the numbers in these classes' names match the types in NODBconstant.h */
.nt_20_1 { background-image: url(/TREE/images/table.gif); }
.nt_20_2 { background-image: url(/TREE/images/table_rows.gif); }
.nt_20_3 { background-image: url(/TREE/images/data_type_string.gif); }
.nt_20_4 { background-image: url(/TREE/images/data_type_integer.gif); }
.nt_20_5 { background-image: url(/TREE/images/data_type_double.gif); }
.nt_20_6 { background-image: url(/TREE/images/data_type_datetime.gif); }
.nt_20_7 { background-image: url(/TREE/images/data_type_binary.gif); }

/* XML node types - the numbers in these classes' names match the types in NOXconstant.h */
.nt_30_1 { background-image: url(/TREE/images/attribute.gif); }
.nt_30_2 { background-image: url(/TREE/images/cdata.gif); }
.nt_30_3 { background-image: url(/TREE/images/xml_doc.gif); }
.nt_30_4 { background-image: url(/TREE/images/tag.gif); }
.nt_30_5 { background-image: url(/TREE/images/text.gif); }

/* Table Grammar node types - the numbers in these classes' names match the types in NOTGconstant.h */
.nt_40_1 { background-image: url(/TREE/images/table_grammar.gif); }
.nt_40_2 { background-image: url(/TREE/images/folder.gif); }
.nt_40_3 { background-image: url(/TREE/images/table_rows.gif); }
.nt_40_4 { background-image: url(/TREE/images/table.gif); }
.nt_40_5 { background-image: url(/TREE/images/table_rows.gif); }
.nt_40_6 { background-image: url(/TREE/images/data_type_string.gif); }
.nt_40_7 { background-image: url(/TREE/images/data_type_integer.gif); }
.nt_40_8 { background-image: url(/TREE/images/data_type_double.gif); }
.nt_40_9 { background-image: url(/TREE/images/data_type_datetime.gif); }

/* Table protocol node types - the numbers in these classes' names match the types in NTABconstant.h */
.nt_50_1 { background-image: url(/TREE/images/table_collection.gif); }
.nt_50_4 { background-image: url(/TREE/images/table.gif); }
.nt_50_5 { background-image: url(/TREE/images/table_rows.gif); }
.nt_50_6 { background-image: url(/TREE/images/data_type_string.gif); }
.nt_50_7 { background-image: url(/TREE/images/data_type_integer.gif); }
.nt_50_8 { background-image: url(/TREE/images/data_type_double.gif); }
.nt_50_9 { background-image: url(/TREE/images/data_type_datetime.gif); }

/* Help protocol node types, See ANNconstant.h*/
.nt_60_1 { font-weight: bold; }
.nt_60_2 { font-style: italic; }

/* help title icon */
.WNDtitleIcon.help { background-image: url('/TRANS/images/icon_help.gif'); }