body {
	font: 11px/16px Verdana, Arial, Helvetica, Geneva, Lucida, sans-serif;
	color: #404040;
	background: none repeat scroll 0 0 #A5A798;
	margin: 0px;
	padding: 0px;
}

#header {
    background-image: url("/images/header_bg_iguana.gif");
    background-position: center bottom;
    height: 120px;
    width: 100%;
    text-align: center;
}

/*
#logo {
    position: relative;
    top: 50px;
    margin: 0px auto;
}
*/

#logo {
    background-image: url("/images/iguana4_logo.gif");
    background-position: center 50px;
    background-repeat: no-repeat;
    width: 100%;
    height: 120px;
    text-align: center;
}


.container {
  margin: 120px auto 50px;
  width: 640px;  
}

.license, .registration {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 360px;
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.5);
}

.license {
  width: 360px;
}

.registration {
  width: 420px;
}

.license:before, .registration:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
.license h1, .registration h1 {
  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #555;
  text-align: center;
  text-shadow: 0 1px white;
  background: #E4E5E0;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
}

.license h1 {
    line-height: 30px;
    padding-bottom: 5px;
}

.license h1 div.subheading {
    line-height: 15px;
    font-size: 11px;
    font-weight: normal;
    color: #777;
    text-align: center;
    text-shadow: 0 1px white;
}

.license p {
  margin: 5px 0 0;
}
.license p:first-child {
  margin-top: 0;
}
.license input[type=text] {
  width: 350px;
}
.license p.required {
  float: left;
  line-height: 25px;
  margin-left: 15px;
}
.license p.required span {
  font-family: Verdana, Arial, Helvetica, Geneva, Lucida, sans-serif;
  font-size: 11px;
  color: #777;
}

.license p.submit {
  text-align: right;
}

.copyright {
  margin: 30px 0;
  font-size: 11px;
  color: white;
  text-align: center;
  text-shadow: 0 1px #666666;
}

.copyright p {
  margin: 0px;
}

.copyright a {
  color: #d7ecae;
  text-decoration: none;
}
.copyright a:hover {
  text-decoration: underline;
}

/*
:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}
*/

input, label {
  font-family: Verdana, Arial, Helvetica, Geneva, Lucida, sans-serif;
  font-size: 12px;
}

label {
    font-weight: bold;
    color: #555;
}

input[type=text] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 28px;
  line-height: 28px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 4px solid #ebeede;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

input[type=text]:focus {
  border-color: #B2CC80;
  outline-color: #CBE892;
  outline-offset: 0;
}

input[type=submit] {
  cursor: pointer;
  padding: 0 18px 3px;
  height: 24px;
  font-size: 12px;
  font-weight: bold;
  color: #609200;
  text-shadow: 0 1px #e3f1f1;
  background: #d5d5d5;
  border: 1px solid;
  border-color: #D5D5D5 #ACACAC #959695;
  border-radius: 6px;
  outline: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: -webkit-linear-gradient(top, #F6F6F6, #DADADA);
  background-image: -moz-linear-gradient(top, #F6F6F6, #DADADA);
  background-image: -o-linear-gradient(top, #F6F6F6, #DADADA);
  background-image: linear-gradient(to bottom, #F6F6F6, #DADADA);
  -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}

input[type=submit]:hover {
  color: #69a000;
  background: #d5d5d5;
  background-image: -webkit-linear-gradient(top, #FAFAFA, #d8e1c6);
  background-image: -moz-linear-gradient(top, #FAFAFA, #d8e1c6);
  background-image: -o-linear-gradient(top, #FAFAFA, #d8e1c6);
  background-image: linear-gradient(to bottom, #FAFAFA, #d8e1c6);
  border-color: #DFDFDF #BBBBBB #AAAAAA;
  -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}

input[type=submit]:active {
  background: #bbd8b0;
  border-color: #93b086 #9fb39b #aaba9b;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.lt-ie9 input[type=text] {
  line-height: 34px;
}


table.license_summary {
  width: 100%;
  margin: 0px 0px 30px;
}

table.license_summary th {
  padding: 10px;
  font-size: 12px;
  color: #3D8204;
}

table.license_summary_table {
  border-collapse: collapse;
  font-size: 11px;
  width: 100%;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 4px solid #ebeede;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}

table.license_summary_table th {
  text-align: left;
  font-size: 11px;
  padding: 10px;
  color: #404040;
}

table.license_summary_table tr {
  background-color: #F2F2F2;
}


table.license_summary_table tr:nth-child(2n) {
  background-color: #FCFCFC;
}
