
/* Import Sample Data Modal */

.SMPLaddDataDialog {
	top: 50px;
	/* window height - toolbar - status bar */
	height: calc(100% - 104px);
}

.SMPLaddDataDialog .POPpopoutCard-content {
	/* card height - header - top bottom padding */
	height: calc(100% - 61px);
	padding: 0px;
}

.SMPLimportModal {
	display: grid;
	grid-template-columns: auto 1fr;
	height: 100%;
	overflow: hidden;
}

.SMPLimportSideBar {
	box-sizing: border-box;
	padding: 32px;
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100%;
	overflow: hidden;
}

.SMPLimportSideBar .FORMlabel {
	margin-bottom: 4px;
}

.SMPLsectionHeader {
	font-family: var(--font-buttons);
	color: var(--grey-500);
	font-weight: 500;
	font-size: 11px;
	letter-spacing: 0.05em;
	margin-bottom: 24px;
}


/* Splitter */
.SMPLresizeControl {
	right: -6px;
	top: 0;
	bottom: 0;
	width: 10px;
	padding: 0;
	border: 0;
	position: absolute;
	outline: none;
	cursor: ew-resize;
	background-color: transparent;
	border-right: 1px solid black;
}

.SMPLresizeShadow {
	bottom: 0;
	top: 0;
	right: 4px;
	pointer-events: none;
	position: absolute;
	width: 3px;
	transition: 150ms ease-out;
}

.SMPLresizeControl:hover .SMPLresizeShadow {
	background: var(--blue);
	transition: 75ms ease-in;
}

.SMPLpane {
	position: relative;
	width: 500px;
	height: 100%;
	overflow: hidden;
}


/* CSS hack to overwrite styles of "CHOOSE FILE" button */
.SMPLfileSelectButtonContainer {
	position: relative;
}
.SMPLfileSelectButton {
	display: inline-block;
	cursor: pointer;
	font-family: var(--font-buttons);
	font-weight: var(--semibold);
	font-size: 10px;
	letter-spacing: 0.25px;
	border-radius: var(--border-radius);
	padding: 0px 12px;
	height: 28px;
	line-height: 28px;
	background-color: var(--grey-200);
	color: var(--grey-600);
}
.SMPLfileSelectButton:hover {
	background-color: var(--grey-300);
	transition: 70ms ease-in;
}
.SMPLfileSelectButton:hover {
	background-color: var(--grey-400);
	color: var(--grey-700);
}
.SMPLfileUploadSelect {
	position: absolute;
	z-index: -1;
	top: 4px;
	left: 16px;
	font-size: 12px;
	padding-top: 0 !important;
	color: var(--grey-600);
	font-family: var(--font-sans);
	visibility: hidden;
}

.SMPLfileUploadSelected {
	color: var(--grey-600);
	margin-top: 4px;
	font-size: 10px;
}

.SMPLimportFromUploadControls {
	margin-bottom: 24px;
}

.SMPLimportFromLogControls {
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.SMPLcomponentList {
	margin-bottom: 16px;
	height: 32px;
}

.SMPLcomponentLogs {
	border: 1px solid var(--grey-400);
	border-radius: var(--border-radius);
	flex-grow: 1;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: calc(100% - 32px);
}

.SMPLsearchFilterCell {
	padding: 0px 8px;
	border-bottom: 1px solid var(--grey-400);
}

.SMPLsearchFilter {
	outline: none;
	border: none;
	padding-left: 0px;
	padding-right: 0px;
	background-image: url(/SMPL/SMPLiconFilter.svg);
	background-repeat: no-repeat;
	background-position: 0px center;
	padding-left: 24px;
}

.SMPLtagFilterCell {
	padding: 0px 8px;
	border-bottom: 1px solid var(--grey-400);
}

.SMPLtagFilter {
	outline: none;
	border: none;
	padding-left: 0px;
	padding-right: 0px;
	background-image: url(/SMPL/SMPLiconFilter.svg);
	background-repeat: no-repeat;
	background-position: 0px center;
	padding-left: 24px;
}

.SMPLimportLogMessages {
	overflow-y: auto;
	overflow-x: hidden;
	white-space: pre;
	flex-grow: 1;
	padding-top: 8px;
}

.SMPLimportLogMessage {
	padding: 6px 8px;
	font-size: 10px;
	border-bottom: 1px solid var(--grey-300);
	max-height: 45px;
	overflow: hidden;
	color: var(--grey-700);
}

.SMPLimportLogMessage:not(.SMPLimportLogMessageMeta):hover {
	background-color: var(--blue-lighter);
	cursor: default;
}

.SMPLimportLogMessage.SMPLimportLogMessageMeta.SMPLimportLogMessageMetaNoMatch {
	height: 100% !important;
}

.SMPLimportLogMessage.SMPLimportLogMessageMeta {
	text-align: center;
	border: none;
	color: var(--grey-400);
	letter-spacing: 0.05em;
	max-height: calc(100% - 24px);
	font-size: 11px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.SMPLimportMain {
	background: var(--grey-100);
	border-left: 1px solid var(--grey-300);
	padding: 32px;
	box-sizing: border-box;
	display: grid;
	grid-template-rows: auto auto auto auto 1fr auto;
	height: 100%;
	overflow: hidden;
}

.SMPLimportMain .FORMlabel {
	margin-bottom: 4px;
}

.SMPLimportMain textarea {
	margin-bottom: 16px;
}

.SMPLimportNameField {
	margin-bottom: 16px;
}

.SMPLimportNameError {
	color: red;
}

.SMPLimportData {
	height: 100%;
	min-height: 128px;
}

.SMPLimportSampleEditor {
	border: 1px solid var(--grey-400);
	border-radius: var(--border-radius);
	overflow-y: auto;
	max-height: 73vh;
	margin-bottom: 16px;
	padding-top: 12px;
	background: white;
}

/* Hide elements by adding the .SMPLhidden class - better than altering display:none */
.SMPLhidden {
	display: none !important;
}
