.ECNmodal {
   display: grid;
   grid-template-rows: auto 1fr;
   row-gap: 12px;
   position: relative;
   height: 100%;
}
.ECNrow {
   display: grid;
   grid-template-columns: auto 32px;
}
.ECNtitle{
   font-family: var(--font-buttons);
	font-weight: 500;
	font-size: 11px;
	letter-spacing: 0.02em;
	line-height: 16px;
	color: var(--grey-500);
   margin-bottom: 5px;
}
.ECNsourcesTable,
.ECNreceiversTable{
   display: grid;
   grid-template-rows: auto 1fr auto auto;
   /* border: 1px solid var(--grey-400);
   border-radius: var(--border-radius); */
   background: var(--grey-100);
   /* padding: 1px; */
}
.ECNtables {
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 36px;
}
.ECNdetails,
.ECNdelete,
.ECNrow a {
   color: var(--blue);
   text-decoration: none;
   cursor: pointer;
   padding-left: 2px;
   padding-right: 2px;
}
.ECNdetails:hover,
.ECNdelete:hover,
.ECNrow a:hover {
   text-decoration: underline;
}
.ECNaddSourceComp,
.ECNaddReceiverComp{
   position: relative;
   cursor: pointer;
}
.ECNsourcesHeader,
.ECNreceiversHeader{
   display: flex;
   align-items: center;
   padding: 12px;
   background: var(--grey-200);
   border-bottom: 1px solid var(--grey-400);
   border: 1px solid var(--grey-400);
   border-top-left-radius: var(--border-radius);
   border-top-right-radius: var(--border-radius);
}
.ECNrowSourceChild,
.ECNrowReceiverChild{
   display: flex;
   align-items: center;
   padding: 12px;
   border-bottom: 1px solid var(--grey-400);
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}
.ECNrowReceiverCompSelection,
.ECNrowSourceCompSelection{
   display: flex;
   align-items: center;
}
.ECNdelete {
   background: var(--grey-200);
   color: var(--grey-600);
   text-align: center;
}
.ECNdeletetableCell{
   text-align: left;
   border-right: 0;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   background: var(--grey-200);
   border: 1px solid var(--grey-400);
   border-top: 0;
   border-right: 0px;
   user-select: none;
}
.ECNerror{
   color: red;
}
.ECNtargetSelect {
   width: auto !important;
   cursor: pointer;
}
.ECNsourcesList, 
.ECNreceiversList {
   border-bottom: 1px solid var(--grey-400);
   min-height: 30vh;
   max-height: 30vh;
   overflow-y: auto;
   border: 1px solid var(--grey-400);
   border-top: 0px;
   background: white;
}
.ECNemptyDiv {
   background: var(--grey-200) !important;
   border: 1px solid var(--grey-400);
   border-left: 0;
   border-top-right-radius: 4px;
}
.ECNemptySources,
.ECNemptyReceivers {
   text-align: center;
   margin-top: 20px;
   color: #999;
   font-style: italic;
}
.ECNselectionRow {
   display: flex;
   gap: 12px;
}
.ECNtargetDivInfo {
   display: grid;
   grid-template-columns: auto auto 1fr auto;
   column-gap: 24px;
   padding: 24px;
   padding-top: 0px;
   padding-bottom: 0px;
   height: 66px;
   border: 1px solid var(--grey-400);
   border-radius: var(--border-radius); 
   background: var(--grey-100);
   align-items: center; 
   flex-wrap: wrap; 
   margin-bottom: 24px;
}
.ECNaddSource, 
.ECNaddReceiver {
   padding: 12px;
   background: var(--grey-200);
   border: 1px solid var(--grey-400);
   border-top: 0px;
   border-bottom-left-radius: var(--border-radius);
   border-bottom-right-radius: var(--border-radius);
}
.ECNtarget {
   border-radius: var(--border-radius);
}
.ECNreceiverName,
.ECNsourceName{
   flex-grow: 1;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}
.ECNreceiverLink,
.ECNsourceLink{
   margin-left: 10px;
   color: var(--grey-500);
}
.ECNreceiverLink a,
.ECNsourceLink a{
   text-decoration: none;
   color: var(--blue);
}
.ECNsourcesHeader,
.ECNreceiversHeader,
.ECNtargetInfoHeader{
   font-weight: var(--semibold);
}
.ECNbuttonRow{
   display: grid;
   grid-template-columns: 1fr auto;
   margin-top: 24px;
}
.ECNcomponentDetails{
	display: grid;
	grid-template-columns: auto auto auto;
   color: var(--grey-500);
}
.ECNwarning{
   font-style: italic;
   color: #999;
}
