.ITMcopyContentIcon{
   content: url("/ITM/ITMcopyIcon.svg");
   padding-right: 4px;
   padding-left: 2px;
   height: 12px;
}

.ITMhideContent .ITMcopyFlexDiv{
   visibility: hidden;
}
.ITMcopyContent{
   cursor: pointer;
   color: var(--grey-600);
   text-decoration: none;
   font-size: 11px;
   padding-right: 2px;
}

.ITMcopyContent:hover{
   color: #215FA3;
}
.ITMnoDataErrorToggle{
   cursor: pointer;
   color: var(--blue);
   user-select: none;
}
.ITMnoDataErrorToggle:hover{
   text-decoration: underline;
}
.ITMhide{
   display: none;
}
.string_slider {
   position: relative; /* So absolutely positioned children are placed within this block */
   /* Any padding or margins you want for the text/content */
   padding-top: 8px; 
   padding-left: 8px; 
 }
 .WNDdock .ITMcopyFlexDiv{
   top: 6px;
 }
/* The container for your Copy Content link/icon */
.ITMcopyFlexDiv {
   position: absolute;
   bottom: 1px;
   right: 1px;
   z-index: 9999; /* Ensure it's on top of other elements */
   background-color: #fff; /* White background */
   border: 1px solid #ccc; /* Light border for clarity */
   padding: 2px 4px;
   border-radius: 4px; /* Slight rounding (optional) */
   display: flex;
   align-items: center;
   margin: 2px;
   /* margin-top: 2px; */

 }

.ITMcopyFlexDivTable {
   z-index: 9999; /* Ensure it's on top of other elements */
   background-color: #fff; /* White background */
   border: 1px solid #ccc; /* Light border for clarity */
   padding: 2px 4px;
   padding-right: 8px;
   border-radius: 4px; /* Slight rounding (optional) */
   display: flex;
   align-items: center;
   margin: 2px;
   cursor: pointer;
   margin-right: 14px;
}

 .slide_arrow {
   /* This is just to ensure it doesn’t stretch or do anything odd in flex */
   flex-shrink: 0;
   margin-right: 8px;
 }
 
 .content {
   /* Let this grow as needed */
   flex: 1;
   /* Or margin: 0 auto if you want it centered, etc. */
 }

.ITMlink{
   color: #A000A0;
   padding-left: 10px;
}
.ITMlink{
   text-decoration: none;
}
.ITMlink:hover{
   color: #C45AEC;

}

.ITMlink:hover:after{
   position: absolute;
   left: 0;
   content: url("/TRANS/images/step_in.png"); 
   background-repeat: no-repeat;
   background-position: center;
}
