.MKEtab {
   position: relative;
   padding-left: 20px;  /* Indent the text */
}

.MKEtab::before {
   content: '•';         /* Bullet symbol */
   position: absolute;
   left: 0;
}
.MKEbuttons{
   justify-content: end;
}
.MKEmessage{
   margin-bottom: 10px;
   font-weight: bold;
}
.MKEbox{
   border: 1px solid var(--grey-300);
   border-radius: var(--border-radius);
   padding: 10px;
   background-color: var(--grey-100);
   padding: 24px;
   padding-bottom: 12px;
   padding-top: 12px;
   margin-bottom: 24px;
}

