.editor--container {
   position: relative;
   height: inherit;
   width: inherit;
   border-radius: inherit;
}

.EDITfilter,
.edit-editor,
.editor-front-view {
   padding: 6px 24px 6px 6px;
   width: inherit;
   height: inherit;
   max-width: 100%;
   max-height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   white-space: pre;
   background: var(--white);
   box-sizing: border-box;
}

.EDITfilter{
   z-index: 100;
   border: solid 1px var(--grey-300);
   border-radius: var(--border-radius);
   caret-color: var(--grey-700);
   font-family: var(--font-sans);
   color: var(--grey-600);
   resize: none;
   overflow: auto;
   overflow-x: hidden;
   overflow-y: hidden;
   user-select: none;
}
.EDITfilter::placeholder{
   color: var(--grey-400);
}

.edit-editor {
   z-index: 100;
   color: transparent !important;
   border: solid 1px var(--grey-300);
   border-radius: var(--border-radius);
   background: transparent;
   caret-color: var(--grey-700);
   font-family: var(--font-sans);
   resize: none;
   overflow: auto;
   overflow-x: hidden;
   overflow-y: hidden;
}

.highlighted-content {
   overflow: auto;
   overflow-x: hidden;
   overflow-y: hidden;
}

.editor-front-view {
   border-radius: var(--border-radius);
   border: none !important;
}

.ChanTooltip {
   list-style: none;
}
.DASHlabel span font:hover {
   cursor: pointer;
}

EDITfilter,
.edit-editor,
.editor-front-view,
.editor-front-view * {
   font-size: 12px;
}
.edit-editor div,
.editor-front-view div,
.editor-front-view * div {
   color: var(--grey-600);
}
.edit-editor div span,
.editor-front-view div span,
.editor-front-view * div span {
   word-wrap: break-word;
}

