.GITHstatus{
   color : green;
}

.GITHaccessError *{
   display: inline;
}
.GITHbox{
   border-radius: var(--border-radius);
	border: solid 1px var(--grey-300);
	padding: 24px;
   padding-top: 16px;
   padding-bottom: 16px;
	margin-bottom: 16px;
   overflow: hidden;
   background: var(--grey-100);
}
.GITHerrorSection,
.GITHsection {
	border-radius: 4px;
	border: solid 1px var(--grey-400);
	padding: 8px;
	margin-bottom: 10px;
}
.GITHsection{
	display : grid;
	grid-template-columns: 120px 1fr auto;
}
.GITHtitle{
   font-weight: bold;
   margin-top: 8px;
}
.GITHnotSet{
   display: flex;
   color: var(--red);
   opacity: 0.85
}
.GITHnotSet b{
   padding-right: 4px;
}
.GITHinfo{
   color : var(--grey-500);
   display: inline;
   margin-left: 4px;
}
.GITHdesc{
   color : var(--grey-500);
   margin-top: 8px;
}
.GITHtitleRow{
   display: grid;
   grid-template-columns: 102px 1fr auto;
   column-gap: 24px;
   margin-bottom: 4px;
   font-size: 11.5px;
}
.GITHserverEdit{
   display : grid;
	grid-template-columns: 100px 2fr 140px;
   column-gap: 20px;
   row-gap: 12px;
}
.GITHtableEdit,
.GITHtable{
   display : grid;
	grid-template-columns: 102px 1fr;
   column-gap: 20px;
   row-gap: 12px;
}
.GITHtable{
   padding-top: 8px;
   padding-left: 4px;
   padding-bottom: 8px;
   /* padding: 0px; */
}
.GITHtableTitle{
   font-size: 11.5px;
   display: table-cell;
   font-weight: var(--semibold);
}
.GITHtableTitleStyle{
   display: inline-block;
   font-size: 11.5px;
   font-weight: var(--semibold);
}
.GITHtableEdit .GITHtableTitle{
   margin-top: 4px;
}
.GITHbutton{
   display: grid;
   grid-template-columns: auto auto;
   justify-content: end;
   margin-top: 18px;
}
.GITHerror{
   color: red;
   padding-top: 12px;
   padding-right: 12px;
   text-align: right;
}
.GITHwarning {
   position: relative; /* Ensure the pseudo-element is positioned relative to this element */
 }
 .GITHwarning::before {
   content: '';
   position: absolute; /* Position the pseudo-element absolutely within its parent */
   top: 8px; /* Position vertically at the center of the parent */
   transform: translateY(-50%); /* Adjust for vertical centering */
   left: -14px; /* Position the pseudo-element to the left of the text */
   width: 6px;
   height: 6px;
   border-radius: 50%;
   background-color: var(--red);
   margin-right: 8px; /* Margin between the pseudo-element and text */
 }
 .GITHerrorText{
   /* color: var(--red); */
 }
.GITSpane .SETpageDescription{
   margin-bottom: 16px;
}
.GITHserverLink,
.GITHlink{
	color: var(--blue);
	text-decoration: unset;
	cursor: pointer;
}
.GITHlink{
   padding-left: 2px !important;
	padding-right: 2px !important;
}
.GITHserverLink:hover,
.GITHlink:hover{
	text-decoration: underline;
}
.GITHtokenMark{
   display: inline-block;
}
.GITHpasswordSymbol{
   display: inline-block;
   padding-top: 4px;
}
.GITHsuccessMark{
   display: flex;
   cursor: default;
   margin-top: 2px;
   color: var(--grey-500);
}
.GITHsuccessMark::after{
   padding-left: 8px;
   margin-top: -2px;
   opacity: 0.5;
   content: url("/CARD/CARDcheckGrey.svg");
}
.GITHsuccessMark:hover::after{
   opacity: 1;
   padding-left: 8px;
   content: url("/CARD/CARDcheckBlue.svg");
}
.GITHgeneratorRow{
   display : grid;
	grid-template-columns: 1fr auto;
   row-gap: 8px;
   column-gap: 24px;
}
.GITHsuccess{
   color : var(--green);
}
.GITHsuccess.GITHsuccessMark::after{
   padding-left: 8px;
   margin-top: 0px;
   opacity: 0.5;
   content: url("/CARD/CARDcheckGrey.svg");
}

.GITHtableVal{
   overflow: hidden;
   text-overflow: ellipsis;
}
.GITHsshModal .GITHtableTitle{
   margin-top: 2px;
}
.GITHgrid{
   /* display: grid; */
   /* grid-template-columns: 1fr 1fr; */
   /* column-gap: 24px; */
}
.GITHhidden{
   display: none;
}
.GITHaddLocalKeyAzureImg{
   max-width: 500px;
	margin: 0 auto;
}
.GITHaddKeyAzureImg{
   max-width: 300px;
	margin: 0 auto;
}
.GITHtokenAzureLocalImg{
   max-width: 550px;
	margin: 0 auto;
}
.GITHtokenAzureImg{
	max-width: 370px;
	margin: 0 auto;
}
.GITHtokenBitbucketImg,
.GITHtokenGitLabImg {
	max-width: 550px;
	margin: 0 auto;
	/* margin-bottom: 16px; */
}
.GITHusernameAzureImg,
.GITHusernameBitbucketImg {
	max-width: 450px;
	margin: 0 auto;
}
.GITHorganizationSource,
.GITHeditKeyPath,
.GITHkeyFiles .GITHtableVal{
   color: var(--grey-500);
}
.GITHeditKeyPath{
   font-family: var(--font-monospace);
}
.GITKtableTitle{
   font-size: 11.5px;
   display: table-cell;
   font-weight: var(--semibold);
}
.GITKbox{
   border-radius: var(--border-radius);
	border: solid 1px var(--grey-300);
	padding: 24px;
   padding-top: 16px;
   padding-bottom: 16px;
	margin-bottom: 10px;
   background: var(--grey-100);
   text-overflow: ellipsis;
   overflow: hidden;
}
.GITKtableEdit{
   display : grid;
	grid-template-columns: auto 1fr auto;
   row-gap: 8px;
   column-gap: 24px;
   overflow: hidden;
}
.GITHimageGrid{
   display: grid;
   grid-template-columns: 1fr 1fr;
}
.GITKpath{
   overflow: hidden;
}
.GITKpath > *{
   overflow: auto;
}
.GITHpublicKeyContent{
   padding: 12px;
   padding-left: 24px;
   padding-right: 24px;
   height: 12em !important;
   resize: none;
}
.GITHhelpRow{
   /* text-align: right; */
   color: var(--grey-600);
   /* margin-top: 12px; */
}
.GITHserverAddress{
   display: flex;  
}
.GITHlocalServerAddress{
   /* margin-top: 8  px; */
}
.GITHvalidBox{
   border-radius: var(--border-radius);
	border: solid 1px var(--grey-300);
	padding: 24px;
   padding-top: 16px;
   padding-bottom: 16px;
	margin-bottom: 10px;
   background: var(--grey-100);
   text-overflow: ellipsis;
   overflow: hidden;
}
.GITHvalidAddress:hover{
   cursor: pointer;
   text-decoration: underline;
}
.GITHaddressRow{
   display: grid;
   grid-template-columns: auto 1fr;
   column-gap: 8px;
}
.GITHcloudService{
   color: var(--grey-600);
   padding-left: 8px;
}
.GITHserverMessage{
   color: var(--grey-600);
}
.GITHorgsTable{
   border-radius: var(--border-radius);
   border: 1px solid var(--grey-300);
   background-color: var(--grey-100);
   overflow: hidden;
   width: 100%;
}
.GITHorgRow,
.GITHheading{
   display: grid;
   grid-template-columns: 1fr 80px;
}
.GITHheading{
   border-bottom: 1px solid var(--grey-300);
   background-color: var(--grey-200);
}
.GITHheading > div {
   font-weight: var(--semibold);
   color: var(--grey-800);
   padding-left: 18px;
   padding-right: 12px;
   min-height: 32px;
   box-sizing: border-box;
   display: flex;
   align-items: center;
   padding-top: 16px;
   padding-bottom: 16px;
}
.GITHorgRow{
   border-top: 1px solid var(--grey-300);
}
.GITHorgRow > *{
   text-align: left;
   border-left: 0px;
   border-right: 0px;
   padding: 12px;
   padding-left: 18px;
   padding-right: 18px;
   color: var(--grey-600);
}
.GITHorgRow > div:first-of-type{
   padding-left: 24px;
}
.GITHheading > div:first-of-type{
   padding-left: 32px;
}
.GITHdeleteOrg{
   padding-right: 24px;
}
.GITHnotSet strong{
   padding-left: 6px;
   padding-right: 6px;
}