.cm-DEPdeprecated {
   text-decoration: line-through;
   color: var(--grey-600) !important;
   cursor: pointer;
}
.DEPheader{
   padding-bottom: 12px;
   padding-top: 8px;
   font-size: 12px;
   color: var(--grey-600);
}
.DEPtooltip{
   max-width: 600px;
   /* white-space: inherit; */
}
.DEPtooltip .POPtooltip-separator{
   line-height: 12px;
   display: inline-block;
}
.DEPhtml a,
.DEPheader a{
   text-decoration: none;
   color: var(--blue);
}
.DEPhtml a:hover,
.DEPheader a:hover{
   text-decoration: underline;
}
