.ADCgridRow{
   display: grid;
	grid-template-columns: 150px auto;
}
.ADCbuttons{
   display: grid;
	grid-template-columns: auto auto;
	justify-content: end;
	margin-top: 32px;
	margin-right: 0;
	margin-left: auto;
}