.TBLfile{
   content: url(/TBL/images/TBLfileIcon.svg);
}
.TBLeditBanner{
   display: flex;
	align-items: center;
	position: sticky;
	top: 0px;
	height: 42px;
	z-index: 10;	
	background: var(--white);
	margin-bottom: 8px;
}
.TBLfileName{
   flex-grow: 1;
	font-family: var(--font-monospace);
	margin-right: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;	
}
.TBLtitle{
	flex-shrink: 1;
	margin-right: 12px;
	color: var(--blue-dark);
	font-weight: 400;
	font-size: 16px;
	white-space: nowrap;
}
.TBLnodeValue{
   cursor: pointer;
	flex-grow: 1;
   font-family: var(--font-monospace);
	padding: 2px 0px;
}
.TBLnodeTable .TBLnodeHeader{
	padding: 2px 4px;
	font-size: 9px;
	font-family: var(--font-buttons);
	color: var(--grey-600);
	letter-spacing: 0.05em;
	background: var(--grey-200);
	border-top: 1px solid var(--grey-400);
	border-bottom: 1px solid var(--grey-400);
	border-right: 1px solid var(--grey-400);
}
.TBLnodeTable{
   display: grid;
	grid-template-columns: 1fr 1.5fr 100px 54px; 
	border-left: 1px solid var(--grey-400);
}
.TBLvalueEnd,
.TBLvalue{
	border: 1px solid var(--grey-400);
	border-left: 0px;
	border-top: 0px;
	padding: 2px 4px;
	display: flex;
	align-items: center;
	font-size: 11px;
}
.TBLvalue{
	border-right: 1px solid rgba(var(---grey-300), 0.65);
}
.TBLvalueEnd{
	border-right: 1px solid rgba(var(---grey-400), 0.65);
}
.TBLnodeWindow{
   height: calc(100% - 58px);
	overflow: auto;
}
.TBLaddListItem{
   padding-top: 4px;
   padding-bottom: 4px;
	font-size: 10px;
	font-family: var(--font-buttons);
	font-weight: 500;
	cursor: pointer;
	color: var(--blue);  
	padding-left: 12px;
}
.TBLlistRow{
   display: flex;
   align-items: center;
}
.TBLlistRow > div{
   display: flex;
	align-items: center;
}
.TBLcontent > div{
	display: flex;
	align-items: center;
	padding-left: 8px;
}
.TBLlistRemove{
   display: inline;
	cursor: pointer;
	text-align: right;
	padding-right: 16px;
}
.TBLcontent > div:hover{
	background-color: rgba(179, 221, 245, 0.25);
}
.TBLeditName{
	width: auto !important;
	min-width: 50px;
	flex-shrink: 1;
	margin-right: 12px;
	white-space: nowrap;
}
.TBLeditDescription{
	width: auto !important;
	min-width: 70px;
	margin-right: 12px;
	flex-grow: 1;
}
.TBLsaveEditGroup{
	flex-shrink: 0;
}
.TBLnameMainEditHint{
	color: var(--red);
	font-size: 10px;
	line-height: 12px;
	padding-bottom: 8px;
}
.TBLhidden{
	display: none;
}
.TBLcolumnRow{
	display: grid;
	grid-template-columns: 32px 32px 1fr 1.5fr 100px 50px  32px;
	cursor: default;
}
.TBLnodeHeaders{
	position: sticky;
	top : 0px;
	border: 1px solid var(--grey-400);
	background: var(--grey-200);
	align-items: center;
	min-height: 28px;
	box-sizing: border-box;
}
.TBLnodeHeaders div{
	padding: 6px 8px;
	font-size: 9px;
	font-family: var(--font-buttons);
	color: var(--grey-600);
	letter-spacing: 0.05em;
	line-height: 1.25em;
}
.TBLeditCell {
	text-align: left;
	border-left: 0px;
	border-right: 0px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.TBLeditCell .FORMinput,
.TBLeditCell .FORMselectBox {
	height: 32px;
	border-radius: 0px;
	border-left: 0px;
	border-right: 1px solid rgba(var(---grey-300), 0.65);
	border-bottom: 0px;
}
.TBLeditCell .FORMinput:focus,
.TBLeditCell .FORMselectBox:focus {
	outline: none;
	border: 2px solid var(--blue);
}
/* "Delete row" column */
.TBLeditCell:first-child {
	border: 1px solid var(--grey-400);
	border-bottom: 0px;
	background: var(--grey-100);
	border-right: 0px;
}
.TBLeditCell:nth-child(2) {
	border: 1px solid var(--grey-400);
	border-bottom: 0px;
	background: var(--grey-100);
	border-left: 0px;
}
.TBLeditCell:last-child {
	border: 1px solid var(--grey-400);
	border-bottom: 0px;
	border-left: none;
	background: var(--grey-100);
}
.TBLboolValue{
	text-align: center;
	justify-content: center;
}
.TBLaddEditRow{
	position: sticky;
	bottom : 0px;
	display: grid;
	grid-template-columns: 32px 1.0fr;
	border: 1px solid var(--grey-400);
	background: var(--grey-100);
	align-items: center;
	height: 24px;
}
.TBLaddColumn{
	grid-column: 2/3;
	padding: 0px 8px;
	font-size: 9px;
	font-family: var(--font-buttons);
	font-weight: 500;
	cursor: pointer;
	color: var(--blue);
}
.TBLwindowInner{
	height: calc(100% - 50px);
	overflow: auto;
	max-height: 600px;
}
.TBLwindow *{
	-webkit-user-select: none;
	-moz-user-select: none;  
	-ms-user-select: none;     
	user-select: none;          
 }
.TBLwindow{
	height: 100%;
	overflow: hidden;
	padding: 8px;
 }
.TBLmoveRow {
	border: 1px solid var(--grey-400);
	border-bottom: 0px;
	border-right: 1px solid rgba(var(--grey-300), 0.65);
	background-color: var(--grey-100);
	color: var(--grey-600);
	cursor: move;
}
.TBLnumber {
	border: 1px solid var(--grey-400);
	border-bottom: 0px;
	border-right: 1px solid rgba(var(--grey-300), 0.65);
	background-color: var(--grey-100);
	color: var(--grey-600);
}
.TBLtable::before{
	content: url(/TBL/images/TBLtable.svg);
	margin-right: 6px;
	height: 16px;
	width: 16px;
}
.TBLcolumnBlank{
	border-top: 0px;
	padding: 4px;
	border: 1px solid var(--grey-400);
}
.TBLblankRow{
	color: var(--grey-600);
}
.TBLwarningMessage{
	display: inline;
	cursor: pointer;
	text-align: right;
	padding-right: 16px;
}
.TBLwarningMessage{
   color: var(--grey-800);
}
.TBLdatabase::before{
	content: url(/TBL/images/TBLdatabase.svg) !important;
}
.PRJicon-file-untracked.TBLdatabase::before{
	content: url(/TBL/images/TBLdatabaseUntracked.svg) !important;
}
.PRJicon-file-renamed.TBLdatabase::before,
.PRJicon-file-modified.TBLdatabase::before{
	content: url(/TBL/images/TBLdatabaseModified.svg) !important;
}
.TBLexport{
   /* margin: 12px 4px; */
	margin-right: 8px;
   /* float: right; */
}
