/*
    Arrow Types:
      arrow-left
      arrow-right
      arrow-top
      arrow-bottom
      arrow-top-left
      arrow-top-right
      arrow-bottom-left
      arrow-bottom-right
 */

.POPpopoverWrap {
  position: relative;
  left: 12px;
}

.POPpopover-wrap {
  position: relative;
  left: 12px;
  z-index: 10;
}

.POPpopover {
  min-width: 100px;
  width: auto;
  height: auto;
  max-width: 250px;
  line-height: normal;
  position: fixed;
  border-radius: var(--border-radius);
  border: 1px solid var(--grey-400);
  background: var(--white);
  padding: 0;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.POPpopover-contents {
  padding: 10px;
  z-index: 9999;
}

.POPpopover-arrow-left {
  position: absolute;
  top: 32px;
  left: -11px;
  z-index: 100;
  border-color: inherit;
}

.POPpopover-arrow-left:before {
  content: "";
  border-top: 11px solid transparent;
  border-right: 11px solid #fff;
  border-bottom: 11px solid transparent;
  position: absolute;
  top: -20px;
  left: 0;
}

.POPpopover-arrow-left:after {
  content: "";
  position: absolute;
  top: -21px;
  left: -1px;
  border-top: 12px solid transparent;
  border-right: 12px solid var(--grey-400);
  border-bottom: 12px solid transparent;
  z-index: -1;
}

.POPpopover-arrow-right {
  position: absolute;
  top: 32px;
  right: -1px;
  z-index: 100;
}

.POPpopover-arrow-right:before {
  content: "";
  border-top: 11px solid transparent;
  border-left: 11px solid #fff;
  border-bottom: 11px solid transparent;
  position: absolute;
  top: -20px;
  left: -1px;
}

.POPpopover-arrow-right:after {
  content: "";
  position: absolute;
  top: -21px;
  left: -1px;
  border-top: 12px solid transparent;
  border-left: 12px solid var(--grey-400);
  border-bottom: 12px solid transparent;
  z-index: -1;
}

.POPpopover-arrow-top {
  position: absolute;
  top: 0;
  left: 30%;
  z-index: 100;
  border-color: inherit;
}

.POPpopover-arrow-top:before {
  content: "";
  border-left: 11px solid transparent;
  border-bottom: 11px solid var(--white);
  border-right: 11px solid transparent;
  position: absolute;
  top: -11px;
  left: 32px;
}

.POPpopover-arrow-top:after {
  content: "";
  position: absolute;
  top: -12px;
  left: 31px;
  border-left: 12px solid transparent;
  border-bottom: 12px solid var(--grey-400);
  border-right: 12px solid transparent;
  z-index: -1;
}

.POPpopover-arrow-bottom {
  position: absolute;
  bottom: 0;
  left: 30%;
  z-index: 100;
  border-color: inherit;
}

.POPpopover-arrow-bottom:before {
  content: "";
  border-left: 11px solid transparent;
  border-top: 11px solid var(--white);
  border-right: 11px solid transparent;
  position: absolute;
  bottom: -11px;
  left: 32px;
}

.POPpopover-arrow-bottom:after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 31px;
  border-left: 12px solid transparent;
  border-top: 12px solid var(--grey-400);
  border-right: 12px solid transparent;
  z-index: -1;
}

/* Top-Left placement */
.POPpopover-arrow-top-left {
  position: absolute;
  top: 0;
  left: -25px;
  z-index: 100;
  border-color: inherit;
}

.POPpopover-arrow-top-left:before {
  content: "";
  border-left: 11px solid transparent;
  border-bottom: 11px solid var(--white);
  border-right: 11px solid transparent;
  position: absolute;
  top: -11px;
  left: 32px;
}

.POPpopover-arrow-top-left:after {
  content: "";
  position: absolute;
  top: -12px;
  left: 31px;
  border-left: 12px solid transparent;
  border-bottom: 12px solid var(--grey-400);
  border-right: 12px solid transparent;
  z-index: -1;
}


/* Top-Right placement */
.POPpopover-arrow-top-right {
  position: absolute;
  top: 0;
  right: -25px;
  z-index: 100;
  border-color: inherit;
}

.POPpopover-arrow-top-right:before {
  content: "";
  border-left: 11px solid transparent;
  border-bottom: 11px solid var(--white);
  border-right: 11px solid transparent;
  position: absolute;
  top: -11px;
  right: 32px;
}

.POPpopover-arrow-top-right:after {
  content: "";
  position: absolute;
  top: -12px;
  right: 31px;
  border-left: 12px solid transparent;
  border-bottom: 12px solid var(--grey-400);
  border-right: 12px solid transparent;
  z-index: -1;
}

/* Bottom-Left placement */
.POPpopover-arrow-bottom-left {
  position: absolute;
  bottom: 0;
  left: -25px;
  z-index: 100;
  border-color: inherit;
}

.POPpopover-arrow-bottom-left:before {
  content: "";
  border-left: 11px solid transparent;
  border-top: 11px solid var(--white);
  border-right: 11px solid transparent;
  position: absolute;
  bottom: -11px;
  left: 32px;
}

.POPpopover-arrow-bottom-left:after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 31px;
  border-left: 12px solid transparent;
  border-top: 12px solid var(--grey-400);
  border-right: 12px solid transparent;
  z-index: -1;
}

/* Bottom-Right placement */
.POPpopover-arrow-bottom-right {
  position: absolute;
  bottom: 0;
  right: -25px;
  z-index: 100;
  border-color: inherit;
}

.POPpopover-arrow-bottom-right:before {
  content: "";
  border-left: 11px solid transparent;
  border-top: 11px solid var(--white);
  border-right: 11px solid transparent;
  position: absolute;
  bottom: -11px;
  right: 32px;
}

.POPpopover-arrow-bottom-right:after {
  content: "";
  position: absolute;
  bottom: -12px;
  right: 31px;
  border-left: 12px solid transparent;
  border-top: 12px solid var(--grey-400);
  border-right: 12px solid transparent;
  z-index: -1;
}

.POPpopover.with-arrow-top-left::before {
  content: "";
  height: 20px;
  width: calc(100% + 28px);
  display: block;
  top: -20px;
  left: -14px;
  position: absolute;
}

.POPpopover.with-arrow-top-right::before {
  content: "";
  height: 20px;
  width: calc(100% + 28px);
  display: block;
  top: -20px;
  left: -14px;
  position: absolute;
}

.POPpopover.with-arrow-bottom-left::before {
  content: "";
  height: 20px;
  width: calc(100% + 28px);
  display: block;
  bottom: -20px;
  left: -14px;
  position: absolute;
}

.POPpopover.with-arrow-bottom-right::before {
  content: "";
  height: 20px;
  width: calc(100% + 28px);
  display: block;
  bottom: -20px;
  left: -14px;
  position: absolute;
}


#POPpopover-arrow-left {
  position: absolute;
  top: 32px;
  left: -11px;
  z-index: 100;
  border-color: inherit;
}

#POPpopover-arrow-left:before {
  content: "";
  border-top: 11px solid transparent;
  border-right: 11px solid #fff;
  border-bottom: 11px solid transparent;
  position: absolute;
  top: -20px;
  left: 0;
}

#POPpopover-arrow-left:after {
  content: "";
  position: absolute;
  top: -21px;
  left: -1px;
  border-top: 12px solid transparent;
  border-right: 12px solid var(--grey-400);
  border-bottom: 12px solid transparent;
  z-index: -1;
}

#POPpopover-arrow-right {
  position: absolute;
  top: 32px;
  right: -1px;
  z-index: 100;
}

#POPpopover-arrow-right:before {
  content: "";
  border-top: 11px solid transparent;
  border-left: 11px solid #fff;
  border-bottom: 11px solid transparent;
  position: absolute;
  top: -20px;
  left: -1px;
}

#POPpopover-arrow-right:after {
  content: "";
  position: absolute;
  top: -21px;
  left: -1px;
  border-top: 12px solid transparent;
  border-left: 12px solid var(--grey-400);
  border-bottom: 12px solid transparent;
  z-index: -1;
}

#POPpopover-arrow-top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  border-color: inherit;
}

#POPpopover-arrow-top:before {
  content: "";
  border-left: 11px solid transparent;
  border-bottom: 11px solid var(--white);
  border-right: 11px solid transparent;
  position: absolute;
  top: -11px;
  left: 32px;
}

#POPpopover-arrow-top:after {
  content: "";
  position: absolute;
  top: -12px;
  left: 31px;
  border-left: 12px solid transparent;
  border-bottom: 12px solid var(--grey-400);
  border-right: 12px solid transparent;
  z-index: -1;
}

