.POPpopoutCard--anchor{
	display: flex;
	position: absolute;
	top: 0px;
	left: 0px;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	z-index: 997;
}
.POPpopoutCard-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	opacity: 0.25;
	transition: opacity 0.4s;
	will-change: opacity;
	background-color: #000;
	user-select: none;
	z-index: 998;
}

.POPpopoutCard-wrapper {
	/* position: fixed; */
	/* top: 50%; */
	/* left: 50%; */
	/* transform: translate(-50%, -50%); */
	width: 50%;
	background-color: var(--white);
	border-radius: var(--border-radius);
	box-shadow: 0 4px 16px 0 rgba(var(---grey-800), 0.5);
	z-index: 999;
	overflow: hidden;
	max-height: 95%;
}

.POPpopoutCard-header {
	height: 60px;
	flex-shrink: 0;
	padding: 0 32px;
	display: flex;
	column-gap: 32px;
	align-items: center;
	border-bottom: 1px solid var(--grey-300);
}

.POPpopoutCard-content {
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 32px;
}

.POPpopoutCard--close {
	border: none;
	background-color: transparent;
	cursor: pointer;
	background-image: url("data:image/svg+xml,%0A%3Csvg width='15px' height='16px' viewBox='0 0 15 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='2.-Menu' transform='translate(-15.000000, -13.000000)' stroke='%23000000'%3E%3Cg id='Group' transform='translate(15.000000, 13.521000)'%3E%3Cpath d='M0,0.479000129 L15,14.2971819' id='Path-3'%3E%3C/path%3E%3Cpath d='M0,14.7761821 L15,-1.24344979e-14' id='Path-3'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	width: 15px;
	height: 15px;
	flex-shrink: 0;
}
