.BLKmodal{
   display: grid;
   grid-template-rows: auto auto auto 1fr;
   grid-template-columns: 410px 1fr;
   height: calc(100% - 64px);
   background-color: var(--grey-100);
}
.BLKlogs{
   display: grid;
   grid-template-rows: 1fr;
}
.BLKborder{
   border: 1px solid var(--grey-300);
}
.BLKmiddle{
   border-radius: var(--border-radius);
   margin: 32px;
}
.BLKmodelContent{
   height: 100%;
}
.BLKbulkResubmitPop{
   height: 100%;
   padding: 0px !important;
}
.BLKmiddle {
   overflow-y: auto;
}
.BLKbuttons{
   justify-content: flex-end;
   margin-top: 18px;
}
.BLKcount{
   height: 75px;
}
.BLKleft{
   grid-row: 1 / 5;
   padding: 32px;
   background-color: var(--white);
   height: calc(100% - 64px);
   border-right: 1px solid var(--grey-300);
   display: grid;
   grid-template-rows: auto auto auto auto 1fr auto auto auto;
}
.BLKmodal .LOGcellPreview{
   max-height: 62px;
}
.BLKmodal .LOGlogEntry:nth-child(odd){
   background-color: var(--white);
}
.BLKmodal .LOGlogEntry:nth-child(even){
   background-color: var(--grey-200);
}
.BLKmodal .LOGlogEntry{
   cursor: unset !important;
}
.BLKtitle{
   font-family: var(--font-buttons);
   color: var(--grey-500);
   font-weight: 500;
   font-size: 11px;
   letter-spacing: 0.05em;
}
.BLKtitle{
   margin-bottom: 12px;
   margin-top: 8px;
}
.BLKaction,
.BLKcomponent,
.BLKcount,
.BLKcriteria{
   border: 1px solid var(--grey-300);
   border-radius: var(--border-radius);
   padding: 24px;
   margin-bottom: 12px;
   background-color: var(--grey-100);
   color: var(--grey-600);
   padding-top: 20px;
   padding-bottom: 12px;
}
.BLKcount,
.BLKcriteria {
   line-height: 1.6;
 }
.BLKcount li,
.BLKcriteria li {
   margin-bottom: 0.75em;
 }
.BLKmodal .LOGlogEntry:hover{
   background-color: var(--grey-100) !important;
}
.BLKcomponent{
   padding: 24px;
   padding-top: 16px;
   margin-bottom: 8px;
}
.BLKconfirmText{
   font-size: 12px;
   color: var(--grey-500);
   font-weight: 500;
   margin-bottom: 14px;
   margin-left: 4px;
}
.BLKtargetGrid{
   display: grid;
   grid-template-columns: auto 1fr;
   column-gap: 12px;
}
.BLKellipsis{
   font-size: 14px;
   color: var(--grey-500);
   font-weight: 500;
   margin-bottom: 12px;
   margin-top: 4px;
   margin-left: 4px;
   text-align: center;
}
.BLKfeedback{
   height: 16px;
   padding-left: 4px;
}
.BLKerror{
   color: var(--red);
}
.BLKsuccess{
   color: var(--green);
}

.BLKleft li{
   list-style-type: none;
   padding-left: 4px;
}

.BLKleft {
   overflow-y: auto;
   max-height: 100%;
   /* padding-bottom: 20px; */
}

.BLKbuttons {
   margin-top: auto;
   flex-shrink: 0;
}
