.SRCHsidebarFindReplace {
	display: flex;
	flex-flow: column;
	height: 100%;
}
.SRCHsidebarSearchFields {
	/* flex-shrink: 0; */
	margin: 8px;
	display: grid;
	grid-template-columns: 16px 1fr;
	background: rgba(var(---blue-dark), 0.075);
	border-radius: var(--border-radius);
}
.SRCHsidebarSearchInput {
	width: 100%;
	border: none;
	outline: 0;
	font-size: 11px;
	font-family: var(--font-sans);
	color: var(--grey-800);
	background: transparent;
	padding: 0px;
}
.SRCHsidebarSearchInput:focus {
	border: none;
	outline: 0;
}
.SRCHsidebarSearchInput::placeholder {
	color: var(--grey-600);
}
.SRCHsidebarSearchInput:focus::placeholder {
	color: transparent;
}
.SRCHsidebarSearchList {
	overflow-y: auto;
	overflow-x: hidden;
}
/* style search results scrollbar */
.SRCHsidebarSearchList {
	flex-grow: 1;
	overflow-y: auto;
	--scrollbarBG: #ebf3f6;
	--thumbBG: #D2DDE8;
	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.SRCHsidebarSearchList::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}
.SRCHsidebarSearchList::-webkit-scrollbar-track {
	background: var(--scrollbarBG);
}
.SRCHsidebarSearchList::-webkit-scrollbar-thumb {
	background-color: var(--thumbBG);
	border-radius: 8px;
	border: 3px solid var(--scrollbarBG);
}

.SRCHsidebarSearchRow {
	cursor: pointer;
	user-select: none;
	border-bottom: 1px solid var(--grey-300);
}
.SRCHsidebarSearchRow:last-of-type{
	border-bottom: none;
}
.SRCHsidebarControlFileName {
	font-size: 12px;
	font-weight: 600;
	display: flex;
	grid-template-columns: 16px 1fr 16px;
	gap: 6px;
	align-items: center;
	padding: 4px 0px 4px 8px;
	padding-right: 8px;
	flex-direction: row;
	line-height: 2em;
}
.SRCHresultSelected .SRCHcloseResult,
.SRCHsidebarCollapsableResults:hover .SRCHcloseResult,
.SRCHsidebarControlFileName:hover .SRCHcloseResult {
	visibility: visible;
}
.SRCHsidebarSearchResult {
	border-left: 1px solid var(--grey-400);
	margin-left: 16px;
	margin-bottom: 8px;
}
.SRCHsidebarResultString {
	font-size: 11px;
	font-family: var(--font-monospace);
	color: var(--grey-700);
	display: inline;
	word-break: break-all;
	line-height: 1.8em;
}
.SRCHsidebarResultString * {
	white-space: pre-wrap;
	word-wrap: break-word;
}
.SRCHsidebarSearchStringMatch {
	color: var(--grey-800);
	background-color: var(--teal-light);
	padding-left: 2px;
	padding-right: 2px;
	font-weight: 600;
}
.SRCHsidebarJumpToSearch {
	display: none;
}
.SRCHsidebarCollapsableResults {
	padding: 4px;
	padding-left: 8px;
	padding-right: 12px;
	overflow: hidden;
	display: grid;
	grid-template-columns: 1fr 16px;
	align-items: center;
	margin-left: 6px;
	border-radius: 4px;
}
.SRCHsidebarCollapsableResults:first-child {
	margin-top: 0px;
}
.SRCHsidebarControlFileName:hover{
	background-color: rgba(179, 221, 245, 0.35);
}
.SRCHsidebarCollapsableResults:hover {
	background-color: rgba(179, 221, 245, 0.25);
	/* font-weight: 600; */
}
.SRCHsidebarCollapsableResults:hover .SRCHsidebarResultString {
	/* color: var(--grey-800) !important; */
	/* background-color: rgba(179, 221, 245, 0.25); */
}
.SRCHresultSelected{
	background-color: #D6E9F3 !important;
	border-radius: var(--border-radius);
	font-weight: 600;
	color: var(--grey-900) !important;
}
.SRCHsidebarCollapsableResults:hover .SRCHcloseResult {
	display: block;
}
.SRCHsidebarGitChangesTitle {
	padding-bottom: 5px;
}
.SRCHsidebarDiff {
	cursor: pointer;
	padding: 8px 12px;
}
.SRCHmatchCase,
.SRCHmatchWord {
	display: inline-block;
	height: 18px;
	width: 18px;
	border-radius: var(--border-radius);
	background-position: center;
	background-repeat: no-repeat;
}
.SRCHmatchCase:hover,
.SRCHmatchWord:hover {
	cursor: pointer;
	background-color: rgba(var(---blue-lighter), 0.75);
}
.SRCHmatchCase {
	background-image: url("/SRCH/SRCHiconMatchCase.svg");
}
.SRCHmatchWord {
	background-image: url("/SRCH/SRCHiconMatchWholeWord.svg");
	margin-left: 2px;
}
.SRCHgroup {
	margin-top: 8px;
	margin-bottom: 4px;
	padding-left: 12px;
	padding-right: 16px;
	display: grid;
	grid-template-columns: 1fr 22px 18px 18px;
	align-items: center;
	column-gap: 4px;
}
.SRCHglobal.TOGtoggle {
	margin-right: 8px;
	height: 12px;
	width: 28px;
}
.SRCHglobal .TOGcheck:checked~.TOGtrack {
	background-color: #639FC5;
}
.SRCHreplaceSliderLabel {
	font-family: var(--font-buttons);
	font-weight: var(--regular);
	letter-spacing: 0.02em;
}
.SRCHsearchActionBtn {
	display: block;
	height: 22px;
	width: 22px;
	border-radius: var(--border-radius);
	background-repeat: no-repeat;
	background-position: center;
	cursor: default;
}
.SRCHsearchActionBtn:hover {
	background-color: rgba(var(---blue-dark), 0.1);
	cursor: pointer;
}

.SRCHsearchPrevious {
	background-image: url("/SRCH/SRCHiconUp.svg");
	cursor: pointer;
}
.SRCHsearchNext {
	background-image: url("/SRCH/SRCHiconDown.svg");
	cursor: pointer;
}
.SRCHmatchCount {
	/* font-size: 10px; */
	/* font-family: var(--font-buttons); */
	/* color: var(--grey-700); */
	text-align: right;
	/* padding-right: 12px;
	padding-top: 4px;
	padding-bottom: 4px; */
}
.SRCHgridDiv{
	display: grid;
	grid-template-columns: auto 1fr auto;
	padding-right: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
	color: var(--grey-700);
	font-family: var(--font-buttons);
	column-gap: 8px;
	font-size: 10.5px;

}
.SRCHmaxResults {
	font-size: 10px;
	font-family: var(--font-buttons);
	color: var(--grey-700);
	padding-left: 10px;
	padding-right: 12px;
	padding-bottom: 4px;
}
.SRCHtoggleReplace {
	display: inline;
	background-repeat: no-repeat;
	background-position: center;
}
.SRCHtoggleReplace:hover {
	background-color: rgba(var(---blue-dark), 0.05);
}
.SRCHtoggleReplaceOff {
	background-image: url("/SRCH/SRCHiconDown.svg");
}
.SRCHtoggleReplaceOn {
	background-image: url("/SRCH/SRCHiconUp.svg");
}
.SRCHtoggleReplaceDisabled {
	cursor: default;
}

.SRCHtoggleReplaceOff~.SRCHsidebarInputs .SRCHreplaceCell {
	display: none !important;
}

.SRCHtoggleReplaceOff~.SRCHsidebarInputs {
	grid-template-rows: auto auto;
}
.SRCHsidebarInputs {
	display: grid;
	grid-template-columns: 1fr auto;
	padding: 8px;
	padding-left: 2px;
	padding-right: 4px;
}
.SRCHinputArea {
	display: grid;
	grid-template-columns: 1fr auto auto auto;
	align-items: center;
	padding: 4px;
	background: rgba(var(---white), 0.75);
	border-radius: 2px;
}
.SRCHinputArea:focus-within {
	background: rgba(var(---white), 0.9);
}
.SRCHactionBtnArea {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	margin-left: 4px;
}
.SRCHreplaceCell {
	margin-top: 8px;
}
/* Replace One Button */
.SRCHreplaceInComponent {
	background-image: url("/SRCH/SRCHiconReplaceOne.svg");
}
/* Replace All Button */
.SRCHreplaceAllInComponent {
	background-image: url("/SRCH/SRCHiconReplaceAll.svg");
}
.SRCHsearchResultsButtons {
	flex-shrink: 0;
	display: flex;
	grid-template-columns: auto 1fr auto;
	column-gap: 8px;
	align-items: center;
	margin-top: 8px;
	margin-bottom: 8px;
	justify-content: space-between;
}
.SRCHsidebarHideOrShowTabs,
.SRCHsidebarRefreshSearch {
	width: 18px;
	height: 18px;
	display: inline;
	border-radius: var(--border-radius);
	background-position: center;
	background-repeat: no-repeat;
}
.SRCHsidebarHideOrShowTabs:hover,
.SRCHsidebarRefreshSearch:hover {
	cursor: pointer;
	background-color: rgba(var(---blue-dark), 0.1)
}
.SRCHsidebarMinimizeTabs {
	background-image: url("/SRCH/SRCHiconCollapseAllResults.svg");
}
.SRCHsidebarExpandTabs {
	background-image: url("/SRCH/SRCHiconExpandAllResults.svg");
}
.SRCHsidebarRefreshSearch {
	background-image: url("/SRCH/SRCHiconRefreshResults.svg");
}

.SRCHsidebarClearSearch {
	width: 18px;
	height: 18px;
	background-size: 16px;
	border-radius: var(--border-radius);
	background-image: url("/SRCH/SRCHiconClearSearch.svg");
	margin-left: 0;
	color: #adb6bd;
	margin: 2px;
}
.SRCHsidebarClearSearch:hover {
	color: #4D5A64;
	background-color: rgba(107, 122, 134, 0.1);
	cursor: pointer;
}
.SRCHtoggleSearchFields {
	flex-shrink: 0;
	display: block;
	height: 30px;

}
.SRCHcloseResult {
	visibility: hidden;	
	color: var(--grey-800);
	fill: currentColor;
	height: 12px;
	width: 12px;
	padding: 4px;
}
.SRCHcloseResult.BUTTONdefault{
	transition: none !important;
}

.SRCHbuttonCollapseToggle {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-position: center;
	background-repeat: no-repeat;
}
.SRCHbuttonFileCollapse {
	background-image: url("/SRCH/SRCHiconCollapse.svg");
}
.SRCHbuttonFileExpand {
	background-image: url("/SRCH/SRCHiconExpand.svg");
}
/* Dialog confirmation for "replace all" */
.SRCHdialogDimmer {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.25);
	user-select: none;
	z-index: 1000;
}
.SRCHdialog {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	max-width: 400px;
	width: auto;
	height: auto;
	background-color: var(--white);
	border-radius: var(--border-radius);
	box-shadow: 0 4px 16px 0 rgba(var(---grey-800), 0.5);
	z-index: 1001;
	padding: 32px;
}
.SRCHdialogHeading {
	font-family: var(--font-buttons);
	font-weight: 500;
	color: var(--grey-600);
	letter-spacing: 0.02em;
	margin-bottom: 8px;
	font-size: 11px;
}
.SRCHdialogConfirmation {
	margin-bottom: 24px;
	font-weight: var(--semibold);
	line-height: 1.6em;
	font-size: 12px;
}
.SRCHcloseSearchAndReplace {
	cursor: pointer;
	float: right;
	color: var(--grey-500);
	fill: currentColor;
	margin-top: 10px;
}
.SRCHcloseSearchAndReplace:hover {
	color: var(--grey-800);
}
.SRCHdisableItem {
	opacity: 0.3;
}

.SRCHmatchWordOn {
	background-color: rgb(169, 170, 171, 0.3);
}

.SRCHmatchCaseOn {
	background-color: rgb(169, 170, 171, 0.3);
}

.SRCHmatchWordOff {
	background-color: transparent;
}

.SRCHmatchCaseOff {
	background-color: transparent;
}

.SRCHdisabled {
	cursor: default;
	opacity: 0.3;
}

.SRCHdisabled:hover {
	background-color: rgba(var(---blue-dark), 0);
}

.SRCHspecialChar {
	background-color: rgba(var(---green));
}
.SRCHbuttonFileName {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	/* flex-grow: 4; */
}

.SRCHreadOnlyResults {
	background-color: rgba(var(---grey-300), 0.50);
}

.SRCHreadOnlyButton {
	color: var(--grey-600);
	margin-left: 4px;
	font-size: 11px;
	font-weight: 400;
	flex-grow: 1;
	font-style: italic;
}

.SRCHhighlightReplacement {
	font-weight: bold;
	padding: 2px 4px;
	border-radius: 3px;
}

.SRCHdisabled {
	opacity: 0.5;
	pointer-events: none;
	cursor: not-allowed;
}
    
.SRCHgrow{
	flex-grow: 1;
}