.STAupdateRow{
   display: grid;
   grid-template-columns: auto 1fr;
}
.STAupdateButtons{
	margin-top: 12px;
	display: flex;
	justify-content: end;
	align-items: end;
}
.STAloading{
   color: var(--grey-500);
   padding-left: 12px;
}
.STAdownloadComplete{
   padding-left: 2px !important;
}
.STAchangeLog ul {
   padding-left: 24px;
}
.STAspinner {
   border: 3px solid #f3f3f3;
   border-top: 3px solid #3498db;
   border-radius: 50%;
   width: 12px;
   height: 12px;
   animation: STAspin 2s linear infinite;
}

@keyframes STAspin {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
.STAtryAgain{
   text-decoration: underline;
   color: var(--grey-500);
   cursor: pointer;
}
.STAhidden{
   display: none;
}
.STAerror{
   display: inline;
	color: red;
}
.STAautoInfo {
   font-size: 14px;
   font-weight: bold;
   color: #333;
   margin-bottom: 15px;
   text-align: center;
}

.STAtime-picker {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.STAtime-picker select {
   margin-right: 5px; /* Adjusted margin for spacing */
   max-height: 150px;
   overflow-y: auto;
   border: 1px solid #ddd;
   border-radius: 5px;
   padding: 10px;
   font-family: 'Arial', sans-serif;
   background-color: #f4f4f4;
   color: #333;
}

.STAtime-picker select:focus {
   outline: none;
   border-color: #66afe9;
   box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

.STAswitch {
   display: flex;
   align-items: center;
   margin-left: 10px; /* Adjusted margin for spacing */
}

.STAswitch input {
   display: none;
}

.STAswitch label {
   cursor: pointer;
   text-indent: -9999px;
   width: 50px;
   height: 20px;
   background: linear-gradient(to right, #757575, #2e2e2e);
   display: block;
   border-radius: 20px;
   position: relative;
   transition: background 0.3s ease-in-out;
}

.STAswitch label:after {
   content: '';
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 5px;
   width: 15px;
   height: 15px;
   background: #fff;
   border-radius: 50%;
   transition: 0.3s;
}

.STAswitch input:checked + label {
   background: linear-gradient(to right, #4CAF50, #45a049);
}

.STAswitch input:checked + label:after {
   left: calc(100% - 5px);
   transform: translateX(-100%) translateY(-50%);
}

.STAautoButtonGroup {
   float: right;
}
.STAlatestAck{
   height: 12px;
   margin: 0px;
   margin-right: 4px;
}
.STAlinkDisabled{
   display: inline;
   padding-left: 4px;
   padding-right: 4px;
   color: var(--grey-600);
   cursor: not-allowed;
}
.STAlinkDisabled:hover{
   text-decoration: underline;
}
.STArowDiv{
   display: grid;
   grid-template-columns: 140px 1;
}
.STAheading{
   margin-bottom: 8px;
   margin-left: 12px;
}
.STAsystemPath{
	max-height: 30em;
	overflow-y: auto; 
	white-space: nowrap;
	overflow-x: scroll;
	grid-column-start : 1;
	grid-column-end : 3;   
	display : grid;
	margin-left: 3px;
 }
 .STAwarningText{
   color: var(--red);
 }
 .STAnoSpaceList {
   margin: 0;
   padding-left: 20px;
}
 .SETwarningLabel {
   position: relative; /* Ensure the pseudo-element is positioned relative to this element */
 }
 .SETwarningLabel::before {
   content: '';
   position: absolute; /* Position the pseudo-element absolutely within its parent */
   top: 10px; /* Position vertically at the center of the parent */
   transform: translateY(-50%); /* Adjust for vertical centering */
   left: -18px; /* Position the pseudo-element to the left of the text */
   width: 6px;
   height: 6px;
   border-radius: 50%;
   background-color: var(--red);
   margin-right: 8px; /* Margin between the pseudo-element and text */
 }
.STAgitDiv.STAgitWarning .STAgitInfo{
   display: none;
}
.STAbrowser,
.STAbrowserVersion,
.STAnavName,
.STAnavAgent{
	font-family: inherit;
}
.STAchangeLog p{
   overflow: auto;
   max-height: 500px;
}
/* .STAchangeLog a{
   color: var(--blue);
   text-decoration: unset;
   text-align: right;
}
.STAchangeLog a:hover{
   text-decoration: underline;
} */