.SLBtitle {
   margin: unset;
   font-weight: var(--bold);
   font-size: 20px;
   line-height: 32px;
   color: var(--grey-700);
   padding-bottom: 24px;
   margin-bottom: 0px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 10px;
}
.SLBinfo{
   padding: 22px;
   padding-left: 0px;
   color: var(--grey-600);
}
.SLBtable { 
   border-radius: var(--border-radius);
   border: 1px solid var(--grey-300);
   background-color: var(--grey-100);
   overflow: hidden;
   width: 100%;
}
.SLBheading{
   border-bottom: 1px solid var(--grey-300);
   background-color: var(--grey-200);
}
.SLBrow{
   border-top: 1px solid var(--grey-300);
}
.SLBheading, 
.SLBrow {
   display: grid;
   column-gap: 24px;
   grid-template-columns: 3fr 2fr 2fr 2fr;
}
.SLBlink {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 24px;
	width: 32px;
}
.SLBlink:hover{
	color: var(--blue);
}
.SLBlink:hover .SLBlinkDiv{
	content: url(/NWC/NWCiconNewWindowHover.svg);
}
.SLBlinkDiv{
	content: url(/NWC/NWCiconNewWindow.svg);
}
.SLBheading > div{
   font-weight: var(--semibold);
   color: var(--grey-800);
   padding-left: 18px;
   padding-right: 12px;
   min-height: 32px;
   box-sizing: border-box;
   display: flex;
   align-items: center;
   padding-top: 16px;
   padding-bottom: 16px;
}
.SLBrow > div{
   text-align: left;
   border-left: 0px;
   border-right: 0px;
   padding: 12px;
   padding-left: 18px;
   padding-right: 18px;
   color: var(--grey-600);
}
.SLBrow > div:first-of-type{
   padding-left: 16px;
}
.SLBheading > div:first-of-type{
   padding-left: 58px;
}
.SLBnameDiv{
   display: grid;
   column-gap: 12px;
   grid-template-columns: auto 1fr;
}
.SLBdata{
   margin-top: 4px;
}
.SLBnameDiv .SLBname{
   margin-top: 4px;
   font-weight: 510;
}
.SLBzero{
   padding-left: 12px;
   font-weight: var(--light);
}
.SLBahead::after{
   opacity: 0.6;
   content:"";
   display:inline-block;
   width:1.1em; 
   height:1.1em;
   margin-left:.6em;                         /* gap between text and icon */
   vertical-align:-0.5em;                  /* tweak to baseline if needed */
   background:url("/TRGT/images/TRGTpushRemoteSvg.svg") no-repeat center/contain;
}
.SLBbehind::after{
   opacity: 0.6;
   content:"";
   display:inline-block;
   width:1.1em; 
   height:1.1em;
   margin-left:.6em;                         /* gap between text and icon */
   vertical-align:-0.5em;                  /* tweak to baseline if needed */
   background:url("/TRGT/images/TRGTpullRemoteSvg.svg") no-repeat center/contain;
}
.SLBrepoLink,
.SLBname{
   color: var(--blue);
   text-decoration: none;
}
.SLBrepoLink:hover,
.SLBname:hover{
   text-decoration: underline;
}
.SLBinfoDiv{
   border: 1px solid var(--grey-300);
   border-radius: var(--border-radius);
   background: var(--grey-100);
   padding: 32px;
   padding-top: 48px;
   display: grid;
   grid-template-columns: auto 1fr;
   column-gap: 12px;
   row-gap: 12px;
}
.SLBdetName{
   display: block;
   font-weight: bold;
   font-size: 14px;
   margin-bottom: 4px;
   word-wrap: break-word;
   color: var(--grey-800);
}
.SLBdetHead{
   border-radius: var(--border-radius);
   background: var(--grey-100);
   border: 1px solid var(--grey-300);
   text-align: left;
   padding: 32px;
}
.SLBdetDesc{
   color: var(--grey-600);
   font-size: 11.5px;
   line-height: 20px;
}
.SLBnotSet{
   color: var(--grey-600);
   font-style: italic;
}
.SLBdetHeader,
.SLBdetRow{
   display: grid;
   grid-template-columns: 40px 1fr 2fr 80px;
}
.SLBdetTable { 
   border-radius: var(--border-radius);
   border: 1px solid var(--grey-300);
   background-color: var(--grey-100);
   overflow: hidden;
   width: 100%;
}
.SLBdetHeader{
   border-bottom: 1px solid var(--grey-300);
   background-color: var(--grey-200);  
}
.SLBdetHeader > div{
   font-weight: var(--semibold);
   color: var(--grey-800);
   padding-left: 18px;
   padding-right: 12px;
   min-height: 32px;
   box-sizing: border-box;
   display: flex;
   align-items: center;
   padding-top: 16px;
   padding-bottom: 16px;
}
.SLBdetRow > div{
   text-align: left;
   border-left: 0px;
   border-right: 0px;
   padding: 12px;
   padding-left: 18px;
   padding-right: 18px;
   color: var(--grey-600);
}
.SLBbuttonGroup{
   display: flex;
   justify-content: end;
}
.SLBcheckbox{
   width: 18px;
}
.SLBcheckbox input{
   margin-right: 2px;
   margin-top: 4px;
}
.SLBtop{
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 24px;
}
.SLBloadingDiv{
   display: flex;
   justify-content: center;
}