.INITsetupAction{
   line-height: 12px;
   padding: 12px 16px;
   width: 8em;
   text-align: center;
}

.INITbackground {
	background: linear-gradient(#1A3664, #0164AD);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-attachment: fixed;
}

#INITcomponentShape1 {
	width: 40px;
	height: 10px;
	border-radius: 10px;
	opacity: 0.02;
	background: transparent;
	box-shadow: 1916px 1127px #FFF , 1089px 1045px #FFF , 1255px 1538px #FFF , 625px 1608px #FFF , 889px 794px #FFF , 1259px 351px #FFF , 610px 1184px #FFF , 1803px 1205px #FFF , 642px 649px #FFF , 1961px 407px #FFF , 458px 899px #FFF , 1349px 1471px #FFF , 1248px 122px #FFF , 1096px 1801px #FFF , 887px 461px #FFF , 676px 1820px #FFF , 1071px 669px #FFF , 1743px 1817px #FFF , 1477px 732px #FFF , 660px 1203px #FFF , 1610px 1877px #FFF , 1985px 172px #FFF , 770px 263px #FFF , 1469px 1863px #FFF , 122px 707px #FFF , 1046px 33px #FFF , 1458px 649px #FFF , 1864px 183px #FFF , 1849px 768px #FFF , 602px 712px #FFF , 1530px 1955px #FFF , 1033px 651px #FFF , 181px 1933px #FFF , 427px 258px #FFF , 715px 1582px #FFF , 116px 994px #FFF , 586px 1091px #FFF , 212px 385px #FFF , 87px 1395px #FFF , 1242px 135px #FFF , 1171px 558px #FFF , 123px 1819px #FFF , 1311px 535px #FFF , 1219px 1642px #FFF , 1558px 599px #FFF , 1821px 1776px #FFF , 556px 7px #FFF , 1799px 242px #FFF , 310px 909px #FFF , 1569px 1149px #FFF , 1544px 34px #FFF , 333px 1628px #FFF , 1182px 165px #FFF , 1652px 108px #FFF , 1481px 641px #FFF , 1991px 1950px #FFF , 1816px 699px #FFF , 315px 1970px #FFF , 648px 271px #FFF , 1494px 679px #FFF , 75px 1628px #FFF , 1416px 1192px #FFF , 1460px 1572px #FFF , 74px 125px #FFF , 1388px 1805px #FFF , 689px 215px #FFF , 797px 1334px #FFF , 976px 617px #FFF , 1828px 789px #FFF , 724px 1397px #FFF , 288px 1267px #FFF , 428px 1331px #FFF , 1324px 383px #FFF , 777px 123px #FFF , 460px 138px #FFF , 1552px 427px #FFF , 301px 696px #FFF , 163px 285px #FFF , 1709px 408px #FFF , 1924px 1425px #FFF , 1043px 956px #FFF , 954px 1861px #FFF , 673px 176px #FFF , 1779px 1230px #FFF , 564px 1998px #FFF , 1068px 1362px #FFF , 1456px 1604px #FFF , 531px 1574px #FFF , 1529px 1813px #FFF , 97px 842px #FFF , 1359px 1847px #FFF , 322px 243px #FFF , 1556px 395px #FFF , 1662px 1057px #FFF , 54px 1281px #FFF , 665px 731px #FFF , 1519px 486px #FFF , 1028px 437px #FFF , 251px 1499px #FFF , 1349px 1021px #FFF , 1242px 1620px #FFF , 1818px 1722px #FFF , 1635px 1561px #FFF , 672px 635px #FFF , 1992px 563px #FFF , 1821px 1221px #FFF , 1449px 1264px #FFF , 315px 1383px #FFF , 677px 1513px #FFF , 738px 235px #FFF , 1913px 558px #FFF , 1008px 896px #FFF , 39px 1580px #FFF , 1001px 561px #FFF , 1433px 896px #FFF , 1352px 30px #FFF , 1623px 1494px #FFF , 710px 1037px #FFF , 339px 1034px #FFF , 1942px 1375px #FFF;
	animation: animComponentShape 50s linear infinite;
 }
 #INITcomponentShape1:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 1916px 1127px #FFF , 1089px 1045px #FFF , 1255px 1538px #FFF , 625px 1608px #FFF , 889px 794px #FFF , 1259px 351px #FFF , 610px 1184px #FFF , 1803px 1205px #FFF , 642px 649px #FFF , 1961px 407px #FFF , 458px 899px #FFF , 1349px 1471px #FFF , 1248px 122px #FFF , 1096px 1801px #FFF , 887px 461px #FFF , 676px 1820px #FFF , 1071px 669px #FFF , 1743px 1817px #FFF , 1477px 732px #FFF , 660px 1203px #FFF , 1610px 1877px #FFF , 1985px 172px #FFF , 770px 263px #FFF , 1469px 1863px #FFF , 122px 707px #FFF , 1046px 33px #FFF , 1458px 649px #FFF , 1864px 183px #FFF , 1849px 768px #FFF , 602px 712px #FFF , 1530px 1955px #FFF , 1033px 651px #FFF , 181px 1933px #FFF , 427px 258px #FFF , 715px 1582px #FFF , 116px 994px #FFF , 586px 1091px #FFF , 212px 385px #FFF , 87px 1395px #FFF , 1242px 135px #FFF , 1171px 558px #FFF , 123px 1819px #FFF , 1311px 535px #FFF , 1219px 1642px #FFF , 1558px 599px #FFF , 1821px 1776px #FFF , 556px 7px #FFF , 1799px 242px #FFF , 310px 909px #FFF , 1569px 1149px #FFF , 1544px 34px #FFF , 333px 1628px #FFF , 1182px 165px #FFF , 1652px 108px #FFF , 1481px 641px #FFF , 1991px 1950px #FFF , 1816px 699px #FFF , 315px 1970px #FFF , 648px 271px #FFF , 1494px 679px #FFF , 75px 1628px #FFF , 1416px 1192px #FFF , 1460px 1572px #FFF , 74px 125px #FFF , 1388px 1805px #FFF , 689px 215px #FFF , 797px 1334px #FFF , 976px 617px #FFF , 1828px 789px #FFF , 724px 1397px #FFF , 288px 1267px #FFF , 428px 1331px #FFF , 1324px 383px #FFF , 777px 123px #FFF , 460px 138px #FFF , 1552px 427px #FFF , 301px 696px #FFF , 163px 285px #FFF , 1709px 408px #FFF , 1924px 1425px #FFF , 1043px 956px #FFF , 954px 1861px #FFF , 673px 176px #FFF , 1779px 1230px #FFF , 564px 1998px #FFF , 1068px 1362px #FFF , 1456px 1604px #FFF , 531px 1574px #FFF , 1529px 1813px #FFF , 97px 842px #FFF , 1359px 1847px #FFF , 322px 243px #FFF , 1556px 395px #FFF , 1662px 1057px #FFF , 54px 1281px #FFF , 665px 731px #FFF , 1519px 486px #FFF , 1028px 437px #FFF , 251px 1499px #FFF , 1349px 1021px #FFF , 1242px 1620px #FFF , 1818px 1722px #FFF , 1635px 1561px #FFF , 672px 635px #FFF , 1992px 563px #FFF , 1821px 1221px #FFF , 1449px 1264px #FFF , 315px 1383px #FFF , 677px 1513px #FFF , 738px 235px #FFF , 1913px 558px #FFF , 1008px 896px #FFF , 39px 1580px #FFF , 1001px 561px #FFF , 1433px 896px #FFF , 1352px 30px #FFF , 1623px 1494px #FFF , 710px 1037px #FFF , 339px 1034px #FFF , 1942px 1375px #FFF;
 }
 
 #INITcomponentShape2 {
	width: 60px;
	height: 15px;
	border-radius: 10px;
	opacity: 0.05;
	background: transparent;
	box-shadow: 4px 1840px #FFF , 690px 1434px #FFF , 931px 544px #FFF , 1534px 1924px #FFF , 1064px 1948px #FFF , 1295px 1153px #FFF , 1383px 1600px #FFF , 923px 599px #FFF , 654px 426px #FFF , 1702px 1413px #FFF , 1933px 1582px #FFF , 932px 641px #FFF , 1074px 103px #FFF , 1750px 1304px #FFF , 1862px 1238px #FFF , 1135px 128px #FFF , 748px 1493px #FFF , 344px 670px #FFF , 1672px 1935px #FFF , 739px 1262px #FFF , 1158px 681px #FFF , 729px 1758px #FFF , 299px 161px #FFF , 1264px 1313px #FFF , 1143px 408px #FFF , 1061px 662px #FFF , 1948px 103px #FFF , 1926px 785px #FFF , 661px 1333px #FFF , 322px 484px #FFF , 1681px 1491px #FFF , 1863px 310px #FFF , 476px 1888px #FFF , 1802px 778px #FFF , 242px 1740px #FFF , 904px 621px #FFF , 1449px 131px #FFF , 1817px 772px #FFF , 769px 1279px #FFF , 191px 1884px #FFF , 1489px 181px #FFF , 746px 1754px #FFF , 1278px 1011px #FFF , 986px 866px #FFF , 1109px 1437px #FFF , 1791px 1010px #FFF , 777px 985px #FFF , 1375px 1530px #FFF , 978px 1683px #FFF , 100px 1395px #FFF , 864px 192px #FFF , 367px 459px #FFF , 804px 219px #FFF , 764px 1594px #FFF , 1447px 1614px #FFF , 1982px 752px #FFF , 444px 264px #FFF , 178px 217px #FFF , 1791px 1996px #FFF , 1618px 1684px #FFF;
	animation: animComponentShape 100s linear infinite;
 }
 #INITcomponentShape2:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 4px 1840px #FFF , 690px 1434px #FFF , 931px 544px #FFF , 1534px 1924px #FFF , 1064px 1948px #FFF , 1295px 1153px #FFF , 1383px 1600px #FFF , 923px 599px #FFF , 654px 426px #FFF , 1702px 1413px #FFF , 1933px 1582px #FFF , 932px 641px #FFF , 1074px 103px #FFF , 1750px 1304px #FFF , 1862px 1238px #FFF , 1135px 128px #FFF , 748px 1493px #FFF , 344px 670px #FFF , 1672px 1935px #FFF , 739px 1262px #FFF , 1158px 681px #FFF , 729px 1758px #FFF , 299px 161px #FFF , 1264px 1313px #FFF , 1143px 408px #FFF , 1061px 662px #FFF , 1948px 103px #FFF , 1926px 785px #FFF , 661px 1333px #FFF , 322px 484px #FFF , 1681px 1491px #FFF , 1863px 310px #FFF , 476px 1888px #FFF , 1802px 778px #FFF , 242px 1740px #FFF , 904px 621px #FFF , 1449px 131px #FFF , 1817px 772px #FFF , 769px 1279px #FFF , 191px 1884px #FFF , 1489px 181px #FFF , 746px 1754px #FFF , 1278px 1011px #FFF , 986px 866px #FFF , 1109px 1437px #FFF , 1791px 1010px #FFF , 777px 985px #FFF , 1375px 1530px #FFF , 978px 1683px #FFF , 100px 1395px #FFF , 864px 192px #FFF , 367px 459px #FFF , 804px 219px #FFF , 764px 1594px #FFF , 1447px 1614px #FFF , 1982px 752px #FFF , 444px 264px #FFF , 178px 217px #FFF , 1791px 1996px #FFF , 1618px 1684px #FFF;
 }
 
 #INITcomponentShape3 {
	width: 100px;
	height: 25px;
	border-radius: 25px;
	opacity: 0.08;
	background: transparent;
	box-shadow: 1796px 500px #FFF , 1074px 1639px #FFF , 716px 1600px #FFF , 944px 315px #FFF , 265px 1762px #FFF , 664px 1353px #FFF , 688px 1569px #FFF , 842px 774px #FFF , 1028px 1950px #FFF , 1144px 1172px #FFF , 690px 1567px #FFF , 801px 860px #FFF , 1854px 1588px #FFF , 1665px 1522px #FFF , 503px 38px #FFF , 521px 674px #FFF , 1304px 430px #FFF , 1036px 911px #FFF , 1398px 1233px #FFF , 1410px 1110px #FFF , 1526px 200px #FFF , 1021px 887px #FFF , 155px 778px #FFF , 1782px 579px #FFF , 1898px 1458px #FFF , 1682px 1447px #FFF , 1440px 1250px #FFF , 1089px 1624px #FFF , 1282px 1427px #FFF , 1339px 1840px #FFF;
	animation: animComponentShape 150s linear infinite;
 }
 #INITcomponentShape3:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 1796px 500px #FFF , 1074px 1639px #FFF , 716px 1600px #FFF , 944px 315px #FFF , 265px 1762px #FFF , 664px 1353px #FFF , 688px 1569px #FFF , 842px 774px #FFF , 1028px 1950px #FFF , 1144px 1172px #FFF , 690px 1567px #FFF , 801px 860px #FFF , 1854px 1588px #FFF , 1665px 1522px #FFF , 503px 38px #FFF , 521px 674px #FFF , 1304px 430px #FFF , 1036px 911px #FFF , 1398px 1233px #FFF , 1410px 1110px #FFF , 1526px 200px #FFF , 1021px 887px #FFF , 155px 778px #FFF , 1782px 579px #FFF , 1898px 1458px #FFF , 1682px 1447px #FFF , 1440px 1250px #FFF , 1089px 1624px #FFF , 1282px 1427px #FFF , 1339px 1840px #FFF;
 }

@keyframes animComponentShape {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-2000px);
	}
}

.INITcontainer {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.INITinstallerContents {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -100px;
}

.INITiguanaLogo {
	margin-bottom: 4px;
	margin-right: -24px;
}

.INITiguanaLogo svg {
	filter: drop-shadow(0px 3px 2px rgb(0 0 0 / 0.4));
	width: 220px;
	height: 75px;
}

.INITiguanaTagline {
	font-family: var(--font-buttons);
	font-weight: 400;
	font-size: 22px;
	letter-spacing: 0.02em;
	background: -webkit-linear-gradient(var(--blue-lighter), #89C6E9);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	margin-bottom: 40px;
}

.INITmodal {
	width: 740px;
	height: 476px;
	border-radius: 4px;
	background: var(--white);
	box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.5);
	overflow: hidden;
	display: grid;
	grid-template-columns: 200px 1fr;
}

.INITmodalSidebar {
	padding: 40px 32px;
}

.INITstep {
	padding: 10px 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.INITverticalStepper {
	position: relative;
}

/* regular step */
.INITstep .INITcircle {
	background-color: var(--white);
	border: 1px solid var(--grey-400);
	border-radius: 100%;
	width: 18px;
	height: 18px;
	display: inline-block;
	font-family: var(--font-buttons);
	font-size: 10px;
	font-weight: 500;
	color: var(--grey-500);
	display: flex;
	align-items: center;
	justify-content: center;
}

/* active step */
.INITstep.INITactive .INITcircle {
	border: 1px solid var(--blue);
	color: var(--blue);
	font-weight: 600;
	box-shadow: 0 3px 5px rgba(var(---blue-darker),0.35);
}

/* completed step */
.INITstep.INITcompleted .INITcircle {
	background: var(--blue);
	border: 1px solid var(--blue);
	color: var(--blue);
	font-weight: 600;
}

.INITstep.INITcompleted .INITcircle::after {
	content: " ";
	position: absolute;
	top: 1px;
	left: 1px;
	background: var(--blue);
	border: 3px solid var(--blue-lighter);
	border-radius: 100%;
	display: block;
	width: 12px;
	height: 12px;
}

.INITstep .INITline {
	top: 20px;
	left: 9px;
	height: 100%;
	position: absolute;
	border-left: 1px solid var(--grey-400);
}

.INITstep.INITcompleted .INITline {
	border-left: 1px solid var(--blue);
}

.INITstep:last-child .INITline {
	border-left: 1px solid transparent;
	z-index: -1;
	/* hide the line */
}

.INITstepLabel {
	font-family: var(--font-buttons);
	font-size: 11px;
	font-weight: 500;
	color: var(--grey-600);
	margin-left: 8px;
}

.INITactive .INITstepLabel {
	color: var(--grey-800);
	font-weight: 600;
}


.INITmodalMainArea {
	padding: 32px 48px;
	color: var(--grey-800);
	font-size: 14px;
	position: relative;
	overflow: hidden;
}

.INITfooter {
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding-left: 48px;
	padding-right: 48px;
	margin-bottom: 20px;
}

.INITbtnGroup {
	display: flex;
	justify-content: space-between;
	margin-top: 16px;
}

.INITmodalHeading {
	font-family: var(--font-buttons);
	color: var(--blue-dark);
	font-size: 18px;
	font-weight: 400;
}

.INITsetupContainer {
	display: flex;
	align-items: center;
	gap: 8px;
}


/* 1. Welcome Screen */

.INITfeatureGrid {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 16px;
	row-gap: 24px;
	margin-top: 40px;
}

.INITfeatureGrid div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.INITfeature {
	font-family: var(--font-buttons);
	font-weight: 600;
	color: var(--grey-700);
	font-size: 13px;
	margin-bottom: 6px;
}

.INITfeatureDesc {
	font-size: 12px;
	color: var(--grey-600);
}

.INITstartBtn {
	position: absolute;
	right: 48px;
	bottom: 0px;
}


.INITinstall-text {
	font-size: 12px;
}

/* Define the spinner animation */
@keyframes INITspin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Create the spinner element */
.INITspinner {
	border: 4px solid #f3f3f3;
	border-top: 4px solid #3498db;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	animation: INITspin 2s linear infinite;
}


.INITinstallLocation {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr auto auto;
}



/* 2. Git Setup Screen */

.INITgitInstallContainer {
	border: 1px solid var(--grey-300);
	border-radius: var(--border-radius);
	padding: 12px 16px 16px 16px;
	background: var(--grey-100);
	margin-top: 24px;
}

.INITgitInstallContainer p {
	margin-top: 0px;
}

.INITinstallGit {
	display: inline-block;
	padding: 8px 12px;
	font-size: 10px;
	background-color: var(--blue);
}

.INITinstallGit:hover {
	background-color: #34ACF0;
}

.INITinstallGit:active {
	background-color: #167CBB;
}



/* 3. Application Setup */

.INITappType {
	display: block;
	border: 1px solid var(--grey-400);
	border-radius: var(--border-radius);
	background-color: var(--grey-100);
	padding: 12px 16px;
	margin-bottom: 16px;
}

.INITappTypelabel {
	font-weight: 600;
}

.INITappTypelabel span {
	display: inline-block;
	margin-left: 6px;
	font-size: 11px;
	color: var(--grey-600);
	font-weight: 400;
}

.INITinvisibleRadio {
	/* Add if not using autoprefixer */
	-webkit-appearance: none;
	appearance: none;
	/* For iOS < 15 to remove gradient background */
	background-color: #fff;
	/* Not removed via appearance */
	margin: 0;
	display: inline;
}

.INITinvisibleRadio:checked + label.INITappType {
	border-color: var(--blue) !important;
	background-color: var(--blue-lighter) !important;
}

.INITinvisibleRadio + label.INITappType:hover {
	border-color: rgba(var(---blue), 0.5);
	background-color: rgba(var(---blue-lighter), 0.5);
	cursor: pointer;
}

.INITinvisibleRadio:checked + label.INITappType .INITaccountForm {
	opacity: 1;
	pointer-events: inherit;
}

.INITinvisibleRadio + label.INITappType .INITaccountForm {
	opacity: 0.4;
	pointer-events: none;
}

.INITinvisibleRadio:checked + label.INITappType .INITappTypelabel {
	opacity: 1 !important;
}

.INITinvisibleRadio + label.INITappType .INITappTypelabel {
	opacity: 0.5;
}

.INITinvisibleRadio + label.INITappType:hover .INITappTypelabel {
	opacity: 0.75;
}

.INITaccountForm {
	margin-top: 16px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.INITradioContainer input[type="radio"] {
	margin-right: 10px;
	margin-top: 0px;
}

.INITradioContainer input[type="radio"]:checked ~ .INITaccountFields input {
	border-color: var(--grey-600);
}
.INITradioContainer input[type="radio"]:checked ~ .INITaccountFields input::placeholder {
	color: var(--grey-500) !important;
}

.INITradioContainer input[type="radio"]:checked ~ .INITaccountFields input.INITinputError{
	border-color: red;
}
.INITradioContainer input[type="radio"]:checked ~ .INITaccountFields input.INITinputError::placeholder {
	color: red !important;
}

.INITaccountFields {
	display: grid;
	grid-template-columns: 1fr 1fr auto;
	column-gap: 12px;
	align-items: end;
	margin: 8px 8px 8px 30px;
}



/* 4. Application config */

.INITgitConfigs {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 12px;
	row-gap: 12px;
	align-items: end;
	margin: 8px 8px 8px 16px;
}

input.INITconfigError{
	border-color: red;
}
input.INITconfigError::placeholder {
	color: red !important;
}



/* 5. Account Setup */

.INITsignupFormContainer {
	border: 1px solid var(--grey-300);
	border-radius: var(--border-radius);
	padding: 12px 16px 16px 16px;
	background: var(--grey-100);
}

.INITsignupForm {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 12px;
} 

.INITuserSubmit {
	padding: 8px 12px;
	font-size: 10px;
	margin-top: 16px;
	background-color: var(--blue);
}

.INITuserSubmit:hover {
	background-color: #34ACF0;
}
.INITuserSubmit:active {
	background-color: #167CBB;
}

.INITsignupForm .FORMlabel {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 400;
}

.INITpasswordStrength {
	height: 5px;
	background-color: var(--blue-dark);
	transition: width 0.3s ease-in-out;
}

.INITpasswordStrength.full {
	background-color: var(--green-active);
}

.INITstrengthText {
	font-size: 12px;
	color: var(--grey-600);
}

.INITcreateRow{
	justify-content: end;
	grid-template-columns: auto;
}
.INITcheckmarkDiv{
	content: url("/INIT/INITcheckmark.svg");
	height: 50px;
	margin-top: 60px;
	margin-bottom: 20px;
}
.INITfinishDiv{
	display: flex;	
	justify-content: center;
	flex-wrap: wrap;
}
.INITfinished{
	flex-basis: 100%; 
	text-align: center;
}

.INITcurrentlyRunning{
	margin-top: 4px;
}
.INITprepareContainer {
	border: 1px solid var(--grey-300);
	border-radius: var(--border-radius);
	padding: 24px;
	background: var(--grey-100);
}
.INITuserExistsRow{
	margin-top: 8px;
	margin-bottom: 8px;
}
.INITuserExistsRow,
.INITprepareContainer > div{
	display: grid;
	grid-template-columns: 1fr auto;
}

.INITstatusCheckmark{
	content: url("/INIT/INITcheckmark.svg");
	height: 18px;
	margin-top: 4px;
}
.INITuserLabelRow{
	display: grid;
	grid-template-columns: 1fr auto;
	margin-bottom: 4px;
}
.INITdefaultUserValue{
	font-style: italic;
	font-size: 9px;
	margin-right: 4px;
}
.INITexeLocation{
   font-weight: lighter;
   font-size: x-small;
}
.INITexeLocationDir{
	font-weight: lighter;
}
.INITexePathValue{
	margin-left: 4px;
}
.INITexeLocation{
	display: block !important;
}
.INITexeLocation,
.INITerror pre, 
.INITsuccess pre,
.INITexePathValue {
	max-width: 100%; /* Adjust the value to your preferred max width */
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.INITerror, 
.INITsuccess {
	text-align: center;
	border-radius: var(--border-radius);
	font-size: 10px;
	width: 100%;
	padding: 6px;
	margin-top: 12px;
	display: none;
	box-sizing: border-box;
}

.INITsuccess {
	background: var(--green-lighter);
	color: var(--green-dark);
}

.INITerror {
	background: var(--red-lighter);
	color: var(--red-dark);
}

.INITwarningLabel {
	color: red;
}

.INIThidden{
	display: none !important;
}

.INITattemptingInstall{
	margin-top: 32px;
	display: grid;
	grid-template-columns: 1fr auto 12px;
}
.INITsidebarDiv{
	border-right: 1px solid var(--blue-light);
	background-color: var(--blue-lighter);
}

.INITversionDiv{
	font-weight: 400;
	color: var(--grey-600);
	font-size: 10px;
	text-align: center;
	margin-bottom: 12px;
}
.INITsidebarDiv{
	display: grid;
	grid-template-rows: 1fr auto;
}

.INITerror-container {
	text-align: center;
	padding: 40px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.INITerror-text {
	color: #333;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

.INITinstructions {
	color: #333;
	font-size: 18px;
	margin-bottom: 30px;
}
.INITgitInfoView,
.INTexeAction{
	border: 1px solid var(--grey-300);
	border-radius: var(--border-radius);
	padding: 16px;
	background: var(--grey-100);
	margin-top: 8px;
}
.INITgitRowDownload{
	display: grid;
	grid-template-columns: 1fr auto;
}