.HSVdiffToolbar {
	border-bottom: 1px solid var(--grey-400);
	display: flex;
	align-items: center;
	padding: 2px 16px;
	color: var(--grey-700);
	min-width: 0;
	background-color: var(--grey-200);
	padding: 5px;
}
.HSVtoolbarFilename {
	display: inline-block;
	padding-right: 18px;
	font-size: 12px;
	font-weight: 600;
	color: var(--blue);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	flex-grow: 1;
	user-select: none;
}
.HSVdiffWrapper{
   overflow-y: auto;
   height: 100%;
   border: 1px solid var(--grey-400);
   border-radius: var(--border-radius);
   margin-bottom: 12px;
}
.HSVtoolbarLines {
	display: flex;
	align-items: baseline;
	padding-left: 16px;
	padding-right: 16px;
	font-size: 10px;
	flex-shrink: 0;
	user-select: none;
}
.HSVtoolbarLines .HSVlinesInfo {
	margin: 0 7px;
}
.HSVtoolbarLines .HSVlinesInfo .HSVlinesAdded {
	color: var(--teal);
	font-weight: 600;
}
.HSVtoolbarLines .HSVlinesInfo .HSVlinesDeleted {
	color: var(--purple);
	font-weight: 600;
}
.HSVtoolbarLines .HSVlinesInfo .HSVlinesChanged {
	color: #aaaaaa;
	font-weight: 600;
}
.HSVtoolbarDisplay {
	display: flex;
	align-items: center;
	flex-shrink: 0;
}
.HSVdiff {
	position: relative;
	height: 100%;
	overflow: auto;
}
.HSVdiff .HSVdiffBlock {
   padding: 20px;
   color: var(--grey-500);
}
.HSVdiffToolbarToggle{
	margin-right: 10px;
	margin-left: 4px;
	display: inline;
   background-repeat: no-repeat;
   background-position: center;
	content: url(/SRCH/SRCHdown.svg);
	cursor: pointer;
}
.HSVhide .HSVdiffToolbarToggle{
	content: url(/SRCH/SRCHup.svg);
	transform: rotate(90deg);
}
.HSVhide .HSVdiff{
	display: none;
}	
.HSVhide .HSVdiffToolbar{
	border-bottom: unset;
}
.HSVtoolbarFilename{
	cursor: pointer;
}
.HSVtoolbarFilename:hover{
	text-decoration: underline;
}
.HSVdiffMaxLines{
	font-size: 11px;
	color: var(--grey-500);
	font-family: var(--font-monospace);
	text-align: center;
	line-height: 36px;
}

