.USERbutton {
   display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 28px;
	width: fit-content;
	padding: 0px 12px;
	box-sizing: border-box;
   font-family: var(--font-buttons);
   font-weight: var(--semibold);
   font-size: 10px;
   line-height: 10px;
   letter-spacing: 0.25px;
   border-radius: var(--border-radius);
   border: none;
   cursor: pointer;
   transition: 250ms ease-out;
   margin-top: 16px;
}

.USERtableHeading{
   cursor: default !important;
}

.USERinvalidInput {
   border: 2px solid var(--red);
}

.USERreadOnly {
   background-color: inherit;
}

.USERhint {
	color: var(--red);
	font-size: 11px;
	line-height: 12px;
	margin-top: 4px;
}

.USERbuttonWarning {
   background-color: var(--red);
   color: var(--white);
}

.USERbuttonWarning:hover {
	background-color: var(--red-dark);
	transition: 70ms ease-in;
}

.USERbuttonWarning:active {
	background-color: var(--red-darker);
}

.USERbuttonAction {
   background-color: var(--green);
   color: var(--white);
}

.USERbuttonAction:hover {
	background-color: var(--green-hover);
	transition: 70ms ease-in;
}

.USERbuttonAction:active {
	background-color: var(--green-active);
}

.USERbuttonCancel {
	background-color: var(--grey-200);
	color: var(--grey-600);
}

.USERbuttonCancel:hover {
	background-color: var(--grey-300);
	transition: 70ms ease-in;
}

.USERbuttonCancel:active {
	background-color: var(--grey-400);
}

.USERbuttonDisabled {
   background-color: var(--green-light);
   color: var(--white);
   cursor: not-allowed;
}

.USERhidden{
   display: none;
}

.USERhideForAdmin{
   display: none;
}

.USERcreatePassword{
   cursor: pointer;
   color: var(--blue);
   transition: 250ms ease-out;
}

.USERcreatePassword:hover {
   text-decoration: underline;
}
.USERtagClickable:hover{
	text-decoration: underline;
	cursor: pointer;
}
.USERtagClickable{
   font-weight: 650 !important;
}
.USERupdateTag,
.SETupdateRow{
   margin-right: 8px;
}
.USERreadDiv{
   display: grid;
   grid-template-rows: auto auto;
   row-gap: 4px;
}
.USERtagRows{
   display: grid;
   grid-template-columns: 80px 1fr;
   column-gap: 12px;
   row-gap: 12px;
}
.USERbuttonGroup{
   display: flex;
   justify-content: end;
   width: 100%;
   gap: 8px;
}
.USERsetTagError{
   color: var(--red);
}
.USERexternal::after{
   padding-left: 8px;
   opacity: 0.5;
   content: url("/CARD/CARDcheckGrey.svg");
}
.USERexternal:hover::after{
   opacity: 1;
   padding-left: 8px;
   content: url("/CARD/CARDcheckBlue.svg");
}
.USERexternal{
   display: flex;
   justify-content: center;
   justify-content: center;
   font-style: italic;
   color: var(--grey-600);
   cursor: default;
}
.USERuserSelected{
   font-weight: 700;
}
.USERuserSelected::before {
   content: '';
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background-color: var(--blue);
   margin-right: 8px;
}
.USERtable {
	grid-template-columns: minmax(120px, auto) minmax(auto, 1.5fr) minmax(150px, auto) auto;
}