<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IguanaController.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>IguanaX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>IguanaXController.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>29273F461A2E44BF00FD8AA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29273F591A2E44BF00FD8AA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29273F8D1A2E554D00FD8AA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29273F9F1A2E554D00FD8AA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
