.DOC2bulkDialogClass .DOC2componentList{
   max-height: 197px;
 }

 .DOC2bulkDialogClass .DOC2input{
   margin-top: 8px !important;
 }

 .DOC2label {
	font-weight: var(--semibold);
}

.DOC2input {
   height: 28px;
   border-radius: var(--border-radius);
   border: 1px solid var(--grey-400);
   background-color: var(--white);
   font-weight: var(--regular);
   font-size: 12px;
   line-height: 16px;
   padding: 6px 8px;
   color: var(--grey-800);
   width: 100%;
   box-sizing: border-box;
   font-family: var(--font-sans);
}

.DOC2label+.DOC2input,
.DOC2label+.DOC2selectBox {
	margin-top: 4px;
}

.CARDdetails .DOC2label,
.CARDfieldTarget .DOC2label,
.CARDstatusRow .DOC2label{
	padding-left: 4px;
}

.DOC2addTagLabel{
   margin-top: 16px;
 }

 .DOC2bulkShiftPinsFeedback,
.DOC2bulkEditSubmitFeedback,
.DOC2bulkEditAddFeedback,
.DOC2bulkEditRemoveFeedback,
.DOC2bulkShiftPinsRemoveFeedback {
  color: red;
  white-space: break-spaces;
  padding-top: 4px;
}

.DOC2buttonGroup{
   margin-top: 25px;
   display: flex;
   justify-content: end;
 }

 .DOC2components {
   border: 1px solid var(--grey-400);
   border-radius: var(--border-radius);
 }

 .DOC2components .DOC2hashtag{
   font-size: 9px;
 }

 .DOC2bulkDialogHeader {
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
   padding: 10px;
   padding-left: 7px;
   font-size: 9px;
   font-family: var(--font-buttons);
   background-color: var(--grey-200);
   letter-spacing: 0.05em;
   background: var(--grey-200);
   font-weight: var(--semibold);
 }
 
 .DOC2bulkListName{
   padding-right: 8px;
 }

 .DOC2componentList {
   max-height: 400px;
   overflow-y: auto;
   list-style-type: none;
   border: 1px solid var(--grey-400);
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
   padding: 0;
   margin: 0;
   border-left: none;
   border-right: none;
   border-bottom: none;
 }

 .DOC2componentList>div {
   border-top: 1px solid var(--grey-300);
   background: var(--grey-100);
   border-bottom: none;
   padding: 7px;
   font-size: 11px;
   color: var(--grey-700);
   display: grid;
   grid-template-columns: auto 1fr;
 }
 
 .DOC2componentList div:first-child {
   border-top: none;
 }

 .DOC2bulkWarning{
  color: var(--grey-600);
  font-size: 10.5px;
}