.DOC2rightDisplay{
   grid-column: 2 / -1;
   min-width: 0;         
   overflow: auto;       
   display: grid;
   grid-template-rows: auto auto auto auto minmax(0, 1fr);
   min-height: 0;
   background-color: #cce0e9;
 }

.DOC2description{
   grid-row: 4;
   max-height: 15%;   
   max-width: 100%;   
   padding: .5em;
}

.DOC2content{
   grid-row: 5;
   overflow: auto;
   max-height: none;   
   max-width: 100%;   
   padding: .5em;
}
.DOC2error{
   color: red;
   margin-left: auto; 
}

.DOC2tag {
   margin-left: 2em;
   overflow-wrap: anywhere;
   white-space: normal;
   padding: .1em;
   display: list-item;
   list-style-type: none;
   margin-left : 2em;
 }

.DOC2document {
   box-sizing: border-box;                
   margin-bottom: 8px;
   display: list-item;
   list-style-type: none;
   margin-left : 2em;
}
 
 .DOC2documentTitle {
   display: block;
   width: 100%;       
   min-width: 0;       
   overflow-wrap: anywhere;
   white-space: normal;

}

.DOC2toolbar{
   position: fixed;    
   top: 0;
   left: 0;
   width: 100%;        
   height: 50px;        
   background-color: #36b3ed;
   display: flex;      
   align-items: center; 
   padding: 0 20px;
   box-shadow: 0 2px 5px rgba(0,0,0,0.3);
   z-index: 990;   
}

.DOC2main{
   padding-top: 42px;
}

.DOC2highlight {
   background-color: rgb(129, 147, 176);   
   color: black;               
   padding: 0 2px;             
   border-radius: 4px;         
 }

.DOC2tagDiv{
   margin-right: 3px;
   cursor: pointer;
}
.DOC2tagDiv:hover{
   text-decoration: underline;
}
.DOC2diff,
.DOC2seeTags,
.DOC2reset,
.DOC2upload{
   margin-right: .5em;
}

.DOC2tagList{
   display: inline-grid;
   overflow-y: auto;
   max-height: calc(100vh - 100px);
}

.DOC2iframe {
   width: 100%;
   height: 100%;
   border: none;
 }

 .DOC2deleteWarning{
   display: grid;
   padding: 1em;
   gap: 1em;
 }

 .DOC2titleEditInput{
   width: 800px;
 }

 .DOC2mdEditInput{
   width: 100%;
   height: 90%; 
 }

 .DOC2deleteButtons{
   display:flex;
   justify-content: space-evenly;
}

.DOC2application{
   height: 100vh;
   font-weight: var(--regular);
   line-height: 16px;
   display: grid;
   grid-template-rows: 50px auto;
   padding: 0px;
   overflow: hidden;
   background-color: var(--grey-200);
   margin: 0px;
}

.DOC2workspace.DOCmain{
   grid-row: 2;
   display: grid;
   grid-template-columns: auto 1fr;
   min-height: 0;
   padding-top: 0;
 }
 
 .DOC2workspace.DOCmain > * { 
   min-height: 0;
   min-width: 0;
 }
 
 .DOC2toolbar2{
   grid-row: 1;
   top: 0;
   left: 0;
   width: 100%;        
   height: 50px;        
   background-color: #36b3ed;
   display: flex;      
   align-items: center; 
   padding: 0 20px;
   box-shadow: 0 2px 5px rgba(0,0,0,0.3);
   z-index: 990;   
}

.DOC2image{
   display: block; 
   max-width: 100%;      
   height: auto;         
   border-radius: 8px;    
   object-fit: contain;  
}