.ANNblock {
   background-color: var(--grey-100);
   color: var(--grey-700);
   box-shadow: 0 1px 0px 0 rgba(0,0,0,0.1);
   border-radius: 2px;
   border: 1px solid var(--grey-300);
   padding-top: 0px;
   padding-bottom: 0px;
   padding-left: 4px;
   padding-right: 4px;
   clear : left;
   z-index: 3;
}
.ANNblock pre.ANNhighlight{
   background-color: #dcebf5;
}
.ANNblock pre{
   margin-top: 0px;
   margin-bottom: 0px;
}
.ANNblock > .NIScontrolBlock.annav{
   position: absolute;
   border-bottom: none;
   top: -13px;
   height: 13px;
   border-top-left-radius: 2px;
   border-top-right-radius: 2px;
   /* border-bottom-right-radius: 0px; */
   /* border-bottom-right-radius: 0px; */
}
.ANNloopBlock{
   position: absolute;
   margin-top: -1px;
   margin-left: 20px;
   padding-left: 0.5em;
   padding-right: 0.5em;
   border: 1px solid var(--grey-300);
   background-color: inherit;
   border-radius: 2px;
	box-shadow: 0 1px 0px 0 rgba(0,0,0,0.1);
	min-width: 96px;
}
rect.ANNblock{
   fill: #f3f3f3;
   stroke: #cccccc; 
}
div.ANNpopup{
   position: relative;
   min-height: 60px;
}
/* Override jQuery UI dialog font size */
div.ANNouterPopup, div.ANNouterDockPopup{
   font-size: 12px;
}
div.ANNouterPopup .ui-dialog-title{
   position: relative;
   z-index: 1; /* so it appears in front of the highlight_title div (see below) */
}
div.ANNouterPopup div.highlight_title{
   position: absolute;
   top: 0px;
   bottom: 0px;
   left: 0px;
   right: 0px;
   background-color: #A0CFEC;
   border-radius: 6px;
}
.ANNhighline{
   background-color: #D5E9FF;
}
div.ANNpopup div.string_slider{
   background-color: #fafbfc;
}
div.ANNpopup div.string_slider a.slide_arrow:hover{
   background-color: #f1f2f3;
}
/* Error Stack Trace styles */
.TRANSshowStackTrace, .TRANSshowStackTrace:visited{
   padding-left: 8px;
   text-decoration: none;
   color: #15317E;
   cursor: pointer;
}
.TRANSshowStackTrace:hover{
   color: #6698FF;
}
table.ANNest{
   color: #666;
   font: inherit;
   border-spacing: 0px;
   padding-top: 2px;
   width: 100%;
}
table.ANNest tr td{
   padding-left: 10px;
}
table.ANNest tr:nth-child(even){
   background-color: #E3E3E3;
}
table.ANNest tr:nth-child(odd){
   background-color: #EEEEEE;
}
div.ANNest_none{
   white-space: normal;
   padding-left: 5px;
   padding-top: 10px;
}
/* Raise emptyNodeDropdown by 6px to in popups to align it with the bottom
of the title bar. */
.ANNpopup div.emptyNodeDropdown{
   top: 0px;
}
.ANNnodeTreeValue{
   background-repeat: no-repeat;
   background-position: center left;
   padding-left: 20px;
   padding-top: 1px;
   padding-bottom: 1px;
   color: #276DC6;
   cursor: pointer;
   text-decoration: none;
}
.ANNnodeTreeValue:hover{
   color: #2590CD;
}
/*.ANNnodeTreeValue.waiting{*/
/*   background-image: url(images/spinner.gif);*/
/*}*/

.ANNcontrolCharColor{
   color:orangered;
}
