.LSTmodal{
   padding-left: 16px;
   padding-right: 16px;
   padding-top: 16px;
   padding-bottom: 12px;
   color: var(--grey-600);
}
.LSTgrid{
	display: grid;
	grid-template-columns: auto 1fr auto;
   column-gap: 6px;
   margin-bottom: 16px;
}
.LSTseeDetails,
.LSTstopDiv{
   color: var(--grey-500);
   opacity: 0.8;
}
.LSTseeDetHref,      
.LSTdismiss,
.LSTstop{
   color: var(--blue);
   cursor: pointer;
   display: inline-block;
   text-decoration: none;
   font-family: var(--font-buttons);
   font-weight: 500;
   font-size: 9.5px;
   letter-spacing: 0.08em;
}
.LSTseeDetHref:hover,
.LSTdismiss:hover,
.LSTstop:hover{
   text-decoration: underline;
}
.LSTseeDetails:hover,
.LSTseeDetails:active,
.LSTstopDiv:hover,
.LSTstopDiv:active{
	opacity: 1;
}
.LSTbar{
   height: 16px;
   width: 100%;
   background-color: var(--grey-200);
   border-radius: var(--border-radius);
   border: 1px solid var(--grey-400);
   width: 100%;
   position: relative;
   background-color:var(--white);
   overflow: hidden;
}
.LSTcomplete{
	height: 100%;
	width: 100%;
	position: absolute;
	transition: left 0.5s ease;
	overflow: hidden;
	background-color:var(--grey-300);
	overflow: hidden;
}
.LSTincomplete{
	height: 100%;
	width: 100%;
	position: absolute;
	transition: left 0.5s ease;
	overflow: hidden;
	background-color:var(--green);
	overflow: hidden;
   opacity: 0.8;
}
.LSTtitle{
   color: var(--grey-600);
   font-size: 10.5px;
   padding-left: 4px;
}
.LSThidden{
   display: none;
}

