.DBMwindow {
	top: 50px;
	height: calc(100% - 104px);
}
.DBMwindow .POPpopoutCard-content {
	height: calc(100% - 61px);
	padding: 0px;
}
.DBMmodal {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr auto;
	height: 100%;
	overflow: hidden;
	width: 100%;
}
.DBMimportListContent,
.DBMfromFileDiv,
.DBMtoFileDiv{
	overflow: auto;
}
.DBMorHeader{
	font-family: var(--font-buttons);
	color: var(--grey-500);
	font-weight: 500;
	font-size: 11px;
	letter-spacing: 0.05em;
	margin-bottom: 24px;
	flex-grow: 1;
	text-align: center;
}
.DBMheader{
	font-family: var(--font-buttons);
	color: var(--grey-500);
	font-weight: 500;
	font-size: 11px;
	letter-spacing: 0.05em;
	margin-bottom: 24px;
}
.DBMimportSection{
	box-sizing: border-box;
	padding: 32px;
	margin-bottom: 12px;
}
.DBMsection{
	box-sizing: border-box;
	padding: 32px;
	height: 100%;
	overflow: hidden;
}
.DBMtoFileDiv,
.DBMfromFileDiv{
	border: 1px solid var(--grey-400);
	border-radius: var(--border-radius);
	flex-grow: 1;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: calc(100% - 32px);
}
.DBMtoFileSearchDiv,
.DBMfromFileSearchDiv{
	padding: 0px 8px;
	border-bottom: 1px solid var(--grey-400);
}
input.DBMtoFileSearch,
input.DBMfromFileSearch{
	outline: none;
	border: none;
	padding-left: 0px;
	padding-right: 0px;
	background-image: url(../SMPL/SMPLiconFilter.svg);
	background-repeat: no-repeat;
	background-position: 0px center;
	padding-left: 24px;
}
.DBMfromFilePathHeader,
.DBMtoFilePathHeader{
	font-weight: var(--semibold);
	padding-right: 4px;
}
.DBMfromFilePathHeader,
.DBMtoFilePathHeader,
.DBMfromFilePath,
.DBMtoFilePath{
	display: inline-block;
	color: var(--grey-500);
	padding: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.DBMtoFileViewing,
.DBMfromFileViewing{
	padding-top: 24px;
	padding-bottom: 24px;
}
.DBMaccordian{
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: auto;
	cursor: pointer;
	padding-left: 8px;
}
.DBMmodal *{
	-webkit-user-select: none;
	-moz-user-select: none;  
	-ms-user-select: none;     
	user-select: none;          
 }
.DBMsegmentgroupFolder *,
.DBMmessageFolder *,
.DBMsegmentFolder *,
.DBMcompositeFolder *,
.DBMsectionTitle *,
.DBMnameNode *{
	display: inline-block;
}
.DBMheaderTitle{
	display: flex;
	width: 100%;
}
.DBMfolderNode{
	content: url(/DBM/images/DBMfolderOpen.svg);
}
.DBMtrayClosed .DBMfolderNode,
.DBMclosed .DBMfolderNode{
	content: url(/DBM/images/DBMfolderClosed.svg);
}
.DBMtitle{
	flex-grow: 1;
	padding-left: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.DBMcontent > div:hover{
	background-color: rgba(179, 221, 245, 0.25);
}
.DBMcontent.DBMtrayClosed{
	display: none;
}
.DBMcontent.DBMtrayOpen{
  padding-left: 24px;
}
.DBMcontent > div,
.DBMlistRow > div{
	display: flex;
	align-items: center;
}
.DBMsegmentgroupFolder {
	position: sticky;
	top: 29px;
	bottom: 60px;
 }
.DBMmatchingFolder,
.DBMsegmentgroupFolder,
.DBMmessageFolder,
.DBMsegmentFolder,
.DBMcompositeFolder {
  height: 30px;
  min-height: 30px;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: white;
  z-index: 1;
}
.DBMlistTitle{
	padding-left: 8px;
}
.DBMsegmentDefinitions::before{
	content:url(/TREE/images/EDIiconFolderRepeating.svg);
	margin-right: 6px;
	height: 16px;
	width: 16px;
}
.WNDtitleIcon.DBMsegmentDefinitions::before{
	content: url(/TREE/images/EDIiconFolderRepeating.svg);
}
.DBMclosed > .DBMnameNode > .DBMsegmentDefinitions::before,
.DBMclosed > .DBMsegmentDefinitions::before{
	content: url(/TREE/images/EDIiconFolderRepeating.svg);
}
.DBMmessageDef::before{
	content: url(/TREE/images/EDIiconMessage.svg);
	margin-right: 6px;
	height: 16px;
	width: 16px;
}
.DBMcompositeDef::before{
	content: url(/TREE/images/EDIiconComposite.svg);
	margin-right: 6px;
	height: 16px;
	width: 16px;
}
.DBMsegmentDef::before{
	content: url(/TREE/images/EDIiconSegment.svg);
	margin-right: 6px;
	height: 16px;
	width: 16px;
}
.DBMtoFileContent,
.DBMfromFileContent{
	height: 100%;
	overflow: auto;
	padding: 12px;
}
.DBMmessageFolder {
	position: sticky;
	top: 0px;
	bottom: 120px;
}
.DBMsegmentgroupFolder {
	position: sticky;
	top: 29px;
	bottom: 90px;
}
.DBMsegmentFolder {
	position: sticky;
	top: 59px;
	bottom: 60px;
}
.DBMcompositeFolder {
	position: sticky;
	top: 89px;
	bottom: 30px;
}
.DBMmatchingFolder {
	position: sticky;
	top: 119px;
	bottom: 0px;
}
.DBMimportBanner{
	display: flex;
	align-items: center;
	justify-content: right;
	height: 42px;
	background: var(--white);
	padding-right: 34px;
	padding-bottom: 32px;
}
.DBMdisabled{
	opacity: 0.5;
}
.DBMmatchingValue,
.DBMnodeValue{
	font-family: var(--font-monospace);
	padding: 2px 0px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	min-width: 8px;
	flex-grow: 1;
}
.DBMtrayOpen,
.DBMtrayClosed{
	cursor: pointer !important;
}
.DBMdisabled{
	cursor: default !important;
}
.DBMmessage{
	text-align: center;
	border: none;
	color: var(--grey-400);
	letter-spacing: 0.05em;
	max-height: calc(100% - 24px);
	font-size: 11px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.DBMdeleteMatchingItem,
.DBMcannotDeleteListItem,
.DBMdeleteListItem{
	display: inline;
	cursor: pointer;
	text-align: right;
	padding-right: 16px;
}
.DBMcannotDeleteListItem{
   color: var(--grey-400);
}
.DBMlistRow{
	display: flex;
	align-items: center;
}
.DBMlistRow > div{
	display: flex;
	align-items: center;
}
.DBMmatchingRule::before{
	content: url(/DBM/images/DBMmessageDefId.svg) !important;
}
.DBMdatabaseSelect{
	font-family: var(--font-monospace);
	width: 20% !important;
}
.DBMtable::before{
	content: url(/DBM/images/DBMtable.svg);
	margin-right: 6px;
	height: 16px;
	width: 16px;
}
.DBMdisabled{
	opacity: 0.5;
	cursor: default !important;
}
.DBMimportListContent .DBMlistRow:hover,
.DBMtoFileContent .DBMlistRow:hover,
.DBMfromFileContent .DBMlistRow:hover{
	background-color: rgba(179, 221, 245, 0.25);
}

.DBMtoFileContent .DBMlistRow,
.DBMfromFileContent .DBMlistRow{
	cursor: pointer;
}
.DBMqueryButton{
	margin-top: 12px;
	display: flex;
	justify-content: end;
	align-items: end;
}
.DBMdatabaseSkeleton{
	display: grid;
	grid-template-columns: 100px 1fr;
}
.DBMdatabaseSkeleton *{ 
	padding: 12px;
}
.DBMdatabaseSkeleton .FORMlabel{
	text-align: right;
}
.DBMdatabaseDiv{
	border: 1px solid var(--grey-400);
	border-radius: var(--border-radius);
	padding: 12px;
}
.DBMfromFileInput{
	display: grid;
	grid-template-columns: 1fr 42px;
}
.DBMtoFilePathDiv,
.DBMfromFilePathDiv{
	display: grid;
	padding: 8px;
	padding-bottom : 4px;
	border-top: 1px solid var(--grey-400);
}
.DBMtoFilePathDiv{
	grid-template-columns: auto 1fr 54px;
}
.DBMfromFilePathDiv{
	grid-template-columns: auto 1fr 42px 54px;
}
.DBMimportListContent{
	border: 1px solid var(--grey-400);
	border-radius: var(--border-radius);
	flex-grow: 1;
	overflow: auto;
	display: flex;
	flex-direction: column;
	height: calc(100% - 46px);
	padding: 12px;	
}
.DBMfromFile,
.DBMfromDatabase,
.DBMtoFile{
	padding: 12px;
}

.DBMexportExecute{
   margin: 12px 4px;
   float: right;
}

.DBMexportExplain{
	margin-bottom: 10px;
}
.DBMexportOverwriteWarning{
	margin-bottom: 10px;
}
.DBMexportContainer{
	height: 100%;
	display: flex;
	flex-direction: column;
}

.DBMalignMiddle{
	display: flex;
   align-items: center;
   justify-content: flex-start;
}

.DBMexporter .POPpopoutCard-content{
	height: calc(100% - 61px - 32px - 32px);
	overflow: hidden;
}

.DBMapiAndDatasource{
	display: grid;
	margin-bottom: 5px;
	grid-template-columns: auto 1fr 1fr;
	grid-column-gap: 20px;
	grid-column-gap: 20px;
}
.DBMexportInputContainer{
   display: grid;
	margin-bottom: 5px;
   grid-template-columns: auto 1fr auto 1fr;
   grid-column-gap: 20px;
   grid-column-gap: 20px;
}
.DBMexportInputContainer div{
   display: flex;
   align-items: center;
   justify-content: flex-start;
}
.DBMexportSqlContainer{
   height: fit-content;
	min-height: 100px;
	max-height: 400px !important;
	border-radius: var(--border-radius);
	border: 1px solid var(--grey-400);
	flex-grow: 1;
}
.DBMsuccessFeedback{
	padding: 5px;
	color: green;
	overflow-wrap: break-word;
}
.DBMerrorFeedback{
	padding: 5px;
	color: red;
	overflow-wrap: break-word;
}

.DBMexportSqlContainer .cm-s-default {
   min-height: 150px;
}
.DBMexportSqlContainer .CodeMirror.cm-s-default > .CodeMirror-scroll{
	min-height: 150px;
}

#DBMsqliteWindow {
	width: auto !important;
}

.DBMexportButtonRight{
	width: 100%;
	text-align: right;
}

.DBM-popup {
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	padding: 20px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.DBM-code-examples {
	margin-bottom: 20px;
}

.DBM-code-examples pre {
	background-color: #333;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	overflow-x: auto;
	max-width: 100%;
}

.DBM-table-header {
	font-weight: bold;
}

.DBM-table-container {
	max-height: 200px; /* Set a maximum height for scrolling */
	overflow-y: auto; /* Add vertical scrollbar when the content exceeds the height */
}

.DBM-table {
	width: 100%;
	border-collapse: collapse;
}

.DBM-table th,
.DBM-table td {
	border: 1px solid #ccc;
	padding: 10px;
	text-align: left;
}

.DBM-table th {
	background-color: #f2f2f2;
}

.DBMcode-container {
	position: relative;
}

.DBMcopy-icon {
	position: absolute;
	top: 5px; /* Adjust the top and right values to position the icon as desired */
	right: 5px;
}

@keyframes flash {
	0% { opacity: 1; }
	50% { opacity: 0.5; }
	100% { opacity: 1; }
}

.DBMflash-animation {
	animation: flash 0.5s;
}

.DBM-button {
	background-color: #007BFF;
	color: #fff;
	padding: 10px;
	border: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 4px;
}

.DBM-button:hover {
	background-color: #0056b3;
}

.DBMcopyFeedback {
	float: right;
	color: var(--green-active);
}

.DBMusername{
	width: 43% !important;
}

.DBMpassword{
	width: 43% !important;
}

.DBMdatabase {
	width: 43% !important;
}
