.RNMrow{
   display: grid;
   grid-template-columns: auto 1fr;
   column-gap: 24px;
   row-gap: 10px;
   background: var(--grey-100);
	padding: 24px;
	padding-top: 18px;
	padding-bottom: 18px;

	border-radius: var(--border-radius);
	border: 1px solid var(--grey-300);
}
.RNMerrorFeedback{
   color: red;
}
.RNMbuttons{
   justify-content: end;
}
.RNMmodal{
   width: 600px;
}
.RNMmodal .FORMlabel{
   margin-top: 10px;
}