.TPEbuttonsRow{
   display: grid;
	grid-template-columns: auto auto auto;
	justify-content: end;
	margin-top: 36px;
	margin-left: auto;
}   

.TPEpublicKey {
	display: block;
	border-radius: var(--border-radius);
	border: 1px solid var(--grey-400);
	background-color: var(--white);
	font-weight: var(--regular);
	font-size: 12px;
   height: 8em;
	padding: 6px 8px;
	color: var(--grey-800);
	width: 100%;
	box-sizing: border-box;
	font-family: var(--font-sans);
	resize: none;
	margin-top: 12px;
}

.TPEpublicKey::placeholder {
	color: var(--grey-400);
}

.TPEstatusRow{
	display: grid;
	grid-template-columns: 60px auto;
	row-gap: 12px;
}