.CMTcommitHelpModalContent{
	height: 100%;
}
.CMTcommitHelpPop{
	height: 100%;
}
.CMTcommitHelpValue{
	margin-bottom: 24px;
}
.CMTcommitHelpModal{
	display: grid;
	grid-template-rows: auto 1fr auto auto;
	height: calc(100% - 125px);
}
.CMTcommitHelpHeader,
.CMTcommitHelpRow{
	display: grid;
	grid-template-columns: 120px 1fr 180px;
}
.CMTcommitHelpHeader{
	position: sticky;
	top: 0;
}
.CMTcommitHelpTable{
	border: 1px solid var(--grey-400);
	background-color: var(--grey-100);
	border-radius: var(--border-radius);
	/* overflow: hidden; */
	/* max-height: 350px; */
	overflow-y: auto;
	margin-top: 12px;
	margin-bottom: 24px;
}
.CMTcommitHelpHeading{
	padding: 8px 16px;
	min-height: 32px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}
.CMTcommitHelpHeader>div{
	border-bottom: 2px solid var(--grey-300);
	font-weight: var(--semibold);
	color: var(--grey-800);
	background-color: var(--grey-200);
}
.CMTcommitHelpRow>div {
	box-sizing: border-box;
	min-height: 40px;
	padding: 12px 16px;
	display: flex;
	border-bottom: 1px solid var(--grey-300);
	font-size: 11px;
	color: var(--grey-600);
	text-overflow: ellipsis;
	max-height: 80px;
	overflow: hidden;
	display: -webkit-box;
   -webkit-line-clamp: 4;
   -webkit-box-orient: vertical;
}
.CMThelpHeader{
	font-family: var(--font-buttons);
   color: var(--grey-500);
   font-weight: 500;
	font-size: 11px;
	letter-spacing: 0.05em;
}
.CMTcommitHelpGrid{
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 8px;
}
.CMThelpFooter{
	justify-content: flex-end;
}
.CMTcommitHelpLabel{
	margin-bottom: 4px;
}
.CMTcommitHelpRow{
	cursor: pointer;
}
.CMTcommitHelpHash{
	color: var(--grey-800) !important;
	/* font-weight: var(--semibold); */
	font-family: var(--font-monospace);
	font-size: 12px !important;
}
.CMTcommitHelpRow:hover{
	background-color: var(--grey-200);
}
.CMTcommitHelpRow:hover .CMTcommitHelpHash{
	text-decoration: underline;
}
.CMTcommitInputValue{
	font-family: var(--font-monospace);
	font-size: 13px;
}

.CMTcomponentBox{
   display: grid;
   grid-template-columns: auto 1fr auto;
   column-gap: 24px;
   padding: 24px;
   padding-top: 0px;
   padding-bottom: 0px;
   height: 66px;
   border: 1px solid var(--grey-400);
   border-radius: var(--border-radius);
   background: var(--grey-100);
   align-items: center;
   flex-wrap: wrap;
   margin-bottom: 18px;
}
.CMTcommitHelpRunFromComponent input{
	height: 13px;
	margin-top: 6px;
	margin-bottom: 6px;
}
.CMTcommitHelpRunFromComponentBox{
	display: grid;
	grid-template-columns: 40px 1fr;
	column-gap: 8px;
   padding: 24px;
	padding-left: 12px;
   padding-top: 0px;
   padding-bottom: 0px;
   height: 48px;
   border: 1px solid var(--grey-400);
   border-radius: var(--border-radius);
   background: var(--grey-100);
   align-items: center;
   flex-wrap: wrap;
	margin-bottom: 6px;
}
.CMTupdateComponentLabel{
	color: var(--grey-600);
	font-size: 11px;
}