:root {
   --inputSize: 16px;
   --main-toolbar-height: 72px;
   --translator-header-height: 48px;
   --label-margin-bottom: 4px;
   --neg-label-margin-bottom: -4px;
   --dm-bg--white: #2B3742;
   --dm-text--white: #e8e6e3;
   --dm-border--white: #303436;
   --dm-bg--white-dm: #131516;
   --dm-bg--grey:#2c353e;
   --dm-bg-grey-common:#2c353f;
   --dm-bg--grey-100: #212d39;
   --dm-text--grey-100: #e5e3df;
   --dm-border--grey-100: #313638;
   --dm-bg--grey-200: #36414c;
   --dm-border--grey-200: #333739;
   --dm-bg--grey-300: #272a2c;
   --dm-text--grey-300: #d8d4cf;
   --dm-border--grey-300: #373c3e;
   --dm-bg--grey-400: #4d5660;
   --dm-text--grey-400: #cac5be;
   --dm-border--grey-400: #1F252A;
   --dm-bg--grey-500: #444e5a;
   --dm-text--grey-500: #b0a99f;
   --dm-border--grey-500: #494f52;
   --dm-bg--grey-600: #5b6266;
   --dm-text--grey-600: #9c9386;
   --dm-border--grey-600: #645d52;
   --dm-text--grey-700: #95979a;
   --dm-border--grey-700: #746c60;
   --dm-bg--grey-800: #232628;
   --dm-text--grey-800: #cac6bf;
   --dm-text--grey-900: #d4d0cb;
   --dm-bg--green-lighter: #2f3e14;
   --dm-bg--green-light: #3f5c22;
   --dm-border--green-light: #3b6626;
   --dm-bg--green: #4a9129;
   --dm-text--green: #7ed059;
   --dm-bg--green-hover: #729930;
   --dm-bg--green-active: #3b841f;
   --dm-text--green-active: #84da62;
   --dm-text--green-dark: #96ff70;
   --green-darker: #063a00;
   --dm-bg--blue-lighter: #545b63;
   --dm-text--blue-lighter: #c2e3f3;
   --dm-border--blue-lighter: #12445d;
   --dm-bg--blue: #1e73a4;
   --dm-text--blue: #44a6dd;
   --dm-border--blue: #1c6d9b;
   --dm-bg--blue-light: #303436;
   --dm-text--blue-light: #9dd3f2;
   --dm-border--blue-light: #0f4d71;
   --dm-bg--blue-dark: #004d7f;
   --dm-text--blue-dark: #5dbfff;
   --dm-text--blue-darker: #d3cfc9;
   --dm-bg--teal-lighter: #123939;
   --dm-bg--teal-light: #165453;
   --dm-text--teal: #59c6c5;
   --teal-dark: #02848e;
   --dm-text--teal-darker: #d7d4cf;
   --dm-bg--purple-lighter: #1d1f20;
   --dm-bg--purple-light: #25282a;
   --dm-text--purple: #9e6cdf;
   --purple-dark: #50248f;
   --indigo-lighter: #f4f5fa;
   --indigo-light: #b2bcf6;
   --indigo: #5d6ac4;
   --purple-darker: #230051;
   --indigo-dark: #202d79;
   --dm-text--indigo-darker: #d6d3cd;
   --dm-bg--yellow-lighter: #3a2f05;
   --yellow-light: #ffe98a;
   --dm-bg--yellow: #be9a02;
   --dm-border--yellow: #b59302;
   --yellow-dark: #9c6f19;
   --orange: #ff9800;
   --orange-light: #ffcc80;
   --yellow-darker: #573b00;
   --dm-text--orange-dark: #ff762b;
   --orange-lighter: #fff0db;
   --orange-darker: #471900;
   --dm-bg--red-lighter: #39120c;
   --dm-text--red-lighter: #f3cac3;
   --dm-border--red-lighter: #5c1e13;
   --dm-bg--red: #b22b12;
   --dm-text--red: #ea5235;
   --dm-border--red: #a42811;
   --dm-bg--red-light: #6f1601;
   --dm-border--red-light: #831a01;
   --dm-bg--red-darker: #290001;
   --dm-bg--red-dark: #99060d;
   --dm-text--red-dark: #f84851;
   --dm-bg--scrollbarBG: #15282f;
   --darkreader-text--blue-dark: #5dbfff;
   --dm-bg---white: 24, 26, 27;
   ---grey-100: 249, 250, 251;
   --dm-bg---grey-200: 29, 32, 33;
   --dm-bg---grey-300: 39, 42, 44;
   --dm-border---grey-300: 55, 60, 62;
   --dm-bg---grey-400: 51, 55, 57;
   --dm-border---grey-400: 62, 67, 69;
   ---grey-500: 154, 165, 178;
   --dm-bg---grey-600: 91, 98, 102;
   --dm-text---grey-600: 156, 147, 134;
   ---grey-700: 64, 72, 80;
   --dm-bg---grey-800: 35, 38, 40;
   ---grey-900: 29, 33, 34;
   --dm-bg---green-lighter: 47, 62, 20;
   ---green-light: 182, 221, 163;
   --dm-bg---green: 74, 145, 41;
   ---green-dark: 35, 132, 0;
   ---green-darker: 6, 58, 0;
   --dm-bg---blue-lighter: 33, 35, 37;
   --dm-border---blue: 28, 109, 155;
   --dm-bg---blue-light: 48, 52, 54;
   --dm-text---blue-light: 157, 211, 242;
   --dm-border---blue-light: 15, 77, 113;
   --dm-bg---blue-dark: 0, 77, 127;
   --dm-bg---blue-darker: 7, 24, 46;
   ---teal-lighter: 224, 245, 245;
   ---teal-light: 182, 236, 235;
   ---teal: 72, 192, 191;
   ---teal-dark: 2, 132, 142;
   ---teal-darker: 1, 49, 52;
   ---purple-lighter: 246, 240, 253;
   ---purple-light: 227, 208, 255;
   ---purple: 156, 105, 222;
   ---purple-dark: 80, 36, 143;
   ---indigo-lighter: 244, 245, 250;
   ---indigo-light: 178, 188, 246;
   ---indigo: 93, 106, 196;
   ---purple-darker: 35, 0, 81;
   ---indigo-dark: 32, 45, 121;
   ---indigo-darker: 0, 6, 56;
   ---yellow-lighter: 251, 242, 205;
   ---yellow-light: 255, 233, 138;
   ---yellow: 238, 193, 2;
   --dm-text---yellow-dark: 230, 186, 102;
   ---orange: 255, 152, 0;
   ---orange-light: 255, 204, 128;
   ---yellow-darker: 87, 59, 0;
   ---orange-dark: 230, 81, 0;
   ---orange-lighter: 255, 240, 219;
   ---orange-darker: 71, 25, 0;
   ---red-lighter: 250, 233, 230;
   --dm-text---red: 234, 82, 53;
   ---red-light: 254, 173, 154;
   ---red-darker: 51, 0, 1;
   ---red-dark: 191, 7, 16;
   --margin-top: 16px !important;
   --dm-border--border-radius: 4px !important;
   --dm-bg-dark-blue: #36414C;
}
