/*Resize button*/

.SPLTresizeButton {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 18px;
   width: 18px;
   border-radius: 9999px;
   background: var(--white);
   border: 1px solid var(--grey-400);
   opacity: 0;
   color: var(--grey-500);
}
.SPLTcollapse {
   width: 14px !important;
}
.SPLTresizeIcon {
	width: 12px;
	height: 12px;
	fill: transparent;
}
.SPLTcollapse .SPLTresizeIcon {
	transform: rotate(180deg);
}
.SPLTcollapse .SPLTresizeButton {
	opacity: 1;
}
.SPLTresizeButtonContainer:hover .SPLTresizeButton{
   background: var(--blue);
   color: var(--white);
   border: 1px solid var(--blue);
   transition: 150ms ease-out;
}
.SPLTresizeButtonContainer:hover{
   cursor: pointer;
}
.SPLTresizeButtonContainer{
   display: flex;
   height: 52px;
   width: 23px;
   position: absolute;
   z-index: 11;
   top: 7px;
   left: -5px;
   align-items: center;
}

