.LFDsampleData.LFDhide .LFDcr,
.LFDsampleData.LFDhide .LFDlf,
.LFDsampleData.LFDhide .LFDcrlf{
   visibility: hidden;
   display: inline-block;
   width: 0px;
   margin: 0px;
   padding: 0px;
	min-width: 0px;
   line-height: 14px;
}
.LFDcr,
.LFDlf,
.LFDcrlf{
	min-width: 18px;
   padding: 1px 5px;
   line-height: 16px;
   font-weight: bold;
   text-align: center;
   margin: 0px 2px;
   visibility: visible;
   border-radius: 3px;
   font-size: 0.7em;
}
.LFDcr{
   background-color: #cceafb;
   color: #1b6d8c;
   border: 1px solid #88b7e3;
}
.LFDlf {
   background-color: #e2f2be;
   color: #4ca449;
   border: 1px solid #a8ca5c;
}
.LFDcrlf {
   background-color: #cbf3ec;
   color: #1aa198;
   border: 1px solid #83d9c9;
}
.LFDlineFeedSelect {
	width: unset;
}
.LFDshowHide {
	background-image: url("/SMPL/SMPLiconShowHideEol.svg");
}
.LFDhide .LFDshowHide{
	background-color: var(--grey-300);
	background-position: center !important;
	box-shadow: inset 0 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.LFDconvert {
	background-image: url("/SMPL/SMPLiconReplaceEol.svg");
}
.LFDsampleData .LFDmodal{
   display: flex !important;
}
.LFDmodal{
   display: none !important;
   border-right: unset !important;
}
.SMPLtoolbarFileType{
   border-right: unset !important;
}
.LFDsampleData .SMPLtoolbarFileType{
   border-right: 1px solid var(--grey-300) !important;
}